[2021-08-05 18:22] ddfridley opened #1 "UI for Undebate Creation by Election Administrators"
https://www.figma.com/proto/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=123%3A1694&scaling=min-zoom&page-id=102%3A2&starting-point-node-id=123%3A1694

This was done by @procupid

[2021-08-10 17:54] ddfridley opened #3 "Democratically Run Org Market Research"
In 2020 and 2021 we implemented undebates for the UCLA Student Association for their student body elections.  We are creating the Undebate Self Service Portal so that election leaders of similar organizations can create their own undebates.

What other organizations can we reach, and how can we reach them with such a tool?  -- Colleges, Home Owners Associations, Unions, ???

Interview some and fin

[2021-08-10 17:58] ddfridley opened #4 "Undebate Self Service Portal Product Sheet"
Create a one page description of the Undebate Self Service Portal.  The target user of this document is an election administrator of an organization.  The goal is to interest them enough so that they would sign up to create an account, or sign up for the email list.

The document should be a google doc, but a later step may be to put it into a web page so think of it in that perspective.

[2021-08-11 03:37] ddfridley opened #5 "Election Category Component"
The Election Category Component will render the info on the left panel of the screen -
https://www.figma.com/proto/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=132%3A7175&scaling=min-zoom&page-id=102%3A2&starting-point-node-id=132%3A7175&show-proto-sidebar=1

[code]
When the status is In Progress, show the progress bar at the bottom, showing the ration of numCandidatesRecorder to numCandidates

A paren

[2021-08-11 03:48] ddfridley opened #6 "Election Time Input"
![image](https://user-images.githubusercontent.com/3317487/128966414-07f03a07-03b8-41c6-b97c-cd19735918c6.png)

[code]
Here is the link to the figma: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=151%3A2458

[2021-08-11 03:59] ddfridley opened #7 "Election Date Input"
[code]
Date input should be strait text, so someone can copy and paste the data into this field.  Date should be checked for validity. Or find a data picker but it must allow a date to be pasted in.
see react jalaali date picker, or calendar-datepicker

Here is the figma: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=151%3A2458
![image](https://user-images.githubusercontent.co

[2021-08-11 04:08] ddfridley opened #8 "CountLimitedTextInput"
[code]
Here's the figma: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=151%3A2458
![image](https://user-images.githubusercontent.com/3317487/128967810-fc6a1106-19e6-4ef7-b9e5-ccb58f132a39.png)

[2021-08-11 04:14] ddfridley opened #9 "ElectionTextInput"
[code]

![image](https://user-images.githubusercontent.com/3317487/128968593-1ac51b44-41b5-405f-9f94-2bac198efc49.png)

[2021-08-11 04:25] ddfridley opened #10 "Script Text Input Component"
[code]
Here is an example in figma with text: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=130%3A3903
![image](https://user-images.githubusercontent.com/3317487/128968866-41439133-6ae1-4851-8a95-a4f15042f4e5.png)

[2021-08-12 02:29] ddfridley opened #12 "TimeLinePoint"
[code]

- [ ] If a date/time is initialized and in the past, it should not be editable.
- [ ] The white bubble does not need to be rendered by this component - it will be done by a parent component

Requires:
- #6
- #7

![image](https://user-images.githubusercontent.com/3317487/129128292-13c34520-9c98-4d5a-b573-b81267b8871e.png)

[2021-08-12 02:35] ddfridley opened #13 "Vertical Time Line"
This is the line the goes down the left side of all of the TimePoint components
[code]
https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=125%3A3764
![image](https://user-images.githubusercontent.com/3317487/144915969-ed4b5add-1384-4f5b-ab69-535adafbf95c.png)

[2021-08-12 02:44] ddfridley opened #14 "Submit Button"
[code]
When someone clicks on the Submit button, onDone(true) is called.
figma: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=151%3A2529

![image](https://user-images.githubusercontent.com/3317487/129130331-2de9ac53-92e5-4a1c-9b0e-dd15a0bc6bc7.png)

[2021-08-12 02:52] ddfridley opened #15 "SectionHeader"
[code]
figma: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=132%3A7299
![image](https://user-images.githubusercontent.com/3317487/129130929-0fa4ef3c-74ef-4859-9084-a62ad4901251.png)

[2021-08-13 00:49] ddfridley opened #16 "Navigation Panel"
[code]
Render the <SectionTitles>, and the <ElectionCategory> components to create the NavigationPanel based on all the data in "theData" but the name of that and structure is to be defined.
![image](https://user-images.githubusercontent.com/3317487/129131663-a72a2881-7ab2-4abe-9821-c5479973de41.png)

[2021-08-17 21:12] ddfridley opened #17 "Election Create Component"
[code]
![image](https://user-images.githubusercontent.com/3317487/129800734-e13e303e-e815-495e-b31e-b67dc396d465.png)

The component will look at the _id in theData (this name likely to evolve) and figure out the election date.  The _id is a mongoid that has the date encoded in it.  ObjectId(_id).getTimeStamp

Here is the figma: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=13

[2021-08-17 21:21] ddfridley opened #18 "ElectionHeader"
[code]
link to figma: https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=132%3A7175
![image](https://user-images.githubusercontent.com/3317487/129801762-713be3a7-e26d-48ca-9c3e-da6421d29b6f.png)

[2021-08-18 03:57] ddfridley opened #19 "Election Timeline Graph"
[code]

- [ ] If use hovers over an icon, the title card appears with date and time
- [ ] the purple bar represents the days past
- [ ] If it can't all fit on the screen, the timeline will scroll horizontally
- [ ] The text based alternate from below the line to above the line
- [ ] The Bell Icon represents reminder emails
- [ ] The script icon represents the invite sent to the Moderator
- [ ] The

[2021-09-01 01:30] BolunThompson commented on #5
I can work on this.

[2021-09-01 03:37] ddfridley opened #20 "Undebates Home page"
After someone signs in they will go to this page.
How an account gets creates is out of scope for this. (we do it by manually putting it in the database)

See <UndebatesHeaderBar> #22 for the header component

After someone creates Undebates, then the page shows a list of them like  - see <UndebatesLists> #21

Here is a breakdown of the header component:
https://www.figma.com/file/yXrcMvg5EIwdLkHH

[2021-09-01 03:42] ddfridley opened #21 "UndebatesList"
[code]

electionObjs is an array like elections as defined in #46
onDone is a function to call when the user selects an election to administer, with one parameter {valid, value) where valid is always true in this case, and the value is the _id of the electionObj selected.

After someone creates Undebates, then the page shows a list of them like this: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdI

[2021-09-01 03:46] ddfridley opened #22 "Undebates Header Bar"
<UndebatesHeaderBar

- [x] Magnifying Glass / Search - functionality to be implemented later
- [x] Book/Instructions functionality to be implemented later
- [ ]  Create New takes us to the create undebate page
- [x] User Setting / button have minimal data for now - starting with logout

Here is a link to figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate?node-id=326%3A5505

![image]

[2021-09-01 03:51] ddfridley opened #23 "Configuration Election Page"
[code]
After someone clicks on Create New, or when they select an existing election they will get to this page:
The Election Header #18 selects which election - will be in a parent component to this one.

This component will render the Navigation Panel, and the Component being worked on, and allow the navigation.
The Navigation Panel #16 shows the election status, and allows the user to select the

[2021-09-08 03:41] ddfridley opened #25 "candidate line"
<CandidateLine
 candidateData={}
/>

Build component that shows the candidate line:
figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate?node-id=390%3A5130
![image](https://user-images.githubusercontent.com/3317487/132443126-364a9f16-5701-4933-ba55-3b1c097906d4.png)

[2021-09-13 18:22] ddfridley commented on #5
In the figma for the UI I see a lot of cases and icons and thing. I am going to propose a change to the component interface spec to make it more generic:
[code]
If statusObjs is empty - that's "default" in the UI descirption.
If a statusObj key matches a known key (like completed), then display the associated icon. (if value is false don't display the icon)
If a statusObj has a meaningful value, l

[2021-11-02 18:51] ddfridley commented on #1
@procupid created a Behance explanation of this:  https://www.behance.net/gallery/127641633/Self-Service-Portal check it out!
![image](https://user-images.githubusercontent.com/3317487/139926780-3aa5346c-6108-488e-9d52-54fc6b3e32d0.png)

[2021-11-19 05:02] #14 closed

[2021-11-19 05:07] #15 closed

[2021-11-19 05:23] ddfridley commented on #9
@alex-808 I just realized something.  In the story there is a form, and a submit button.  Since this is a web app, we won't be using a from (which would post the data to the server). Instead when the user completes the input, perhaps by hitting <CR> or <Tab> or clicking outside of the box (onBlur) then the data is passed to the parent component through a callback like onChange.  This input compone

[2021-11-19 18:14] alex-808 commented on #9
@ddfridley I think I'm following but let me make sure I understand:

There will be only two events which should trigger validation and passing up the data to the parent: 1. onBlur 2. 'enter' keypress.

If this is the case then the onChange callback could remain as it is, only updating the local state of the component and would not need to be passed as a prop. But we could just pass the one onDone

[2021-11-19 18:33] ddfridley commented on #9
@alex-808 great analysis.  The parent does not need to know about the changes, it only needs to receive the data when it is done.  But it also needs to be informed if the data goes from done to not done.  Like if the person entered a valid email address and then edited it and made it invalid (or blank).  one idea would be for onDone to return {valid: bool, value: any} . onDone would return {valid:

[2021-11-19 19:03] alex-808 commented on #9
Sounds good! I'll implement it and be back with another PR.

[2021-11-20 00:18] ddfridley commented on #18
@rodolfonei Update on how onDone works:  onDone should be called with `{valid: bool, value: any}` So in this case it should be `onDone({valid: true: value: i })` where i is the index of the object the user selected.

[2021-11-20 00:23] ddfridley commented on #8
@SethBlakley I have updated the description of this to include an onDone call back.  See above.  Thanks.

[2021-11-20 00:25] ddfridley commented on #7
@BolunThompson I have updated the description to have an onDone callback.  See above. Thanks.

[2021-11-20 05:11] ddfridley commented on #1
This is the link to the updated clickable prototype: https://www.figma.com/proto/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=121%3A3297&scaling=min-zoom&page-id=121%3A2&starting-point-node-id=121%3A3297&show-proto-sidebar=1

[2021-11-20 16:47] rodolfonei commented on #18
@ddfridley Ok, got it!

[2021-11-20 19:12] gmunilla14 commented on #25
Good Issue!

[2021-11-20 20:08] #17 closed

[2021-11-20 20:38] #9 closed

[2021-11-20 20:53] ddfridley commented on #18
elections=[{electionName: string},{electionName: string}]

[2021-11-20 21:00] ddfridley commented on #18
![image](https://user-images.githubusercontent.com/3317487/142740743-c9016613-70f7-4c27-98cd-77b31827a8c9.png)

This is the header part of the figma.

[2021-11-20 21:52] ddfridley commented on #22
@Bob160 Hi - we haven't talked in a while. Did you get the repo working?  I'm going to unassign this task for now in case some has time to work on it. But feel free to assign it to yourself if you want it back.

[2021-11-21 00:05] #10 closed

[2021-11-24 03:42] ddfridley commented on #23
Requires Navigation Page

[2021-11-24 04:29] ddfridley commented on #1
Latest Figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?node-id=326%3A5418

[2021-11-24 04:30] ddfridley commented on #1
The original undebate issue for the self service portal - https://github.com/EnCiv/undebate/issues/301

[2021-11-25 10:36] rkoleci commented on #8
Can you assign this to me ?

[2021-11-25 17:32] ddfridley commented on #8
@rkoleci Welcome. I have assigned you.  If you fill out the [slack form](https://docs.google.com/forms/d/e/1FAIpQLSee58BUiy12dtloG9pLITsELcNldIwXcEtCotV9r95BZJSIVA/viewform?usp=sf_link) I can add you to the slack workspace.

[2021-11-27 22:45] ddfridley opened #41 "HomeButton component"
app/components/home-button.js

The first step is just to return an SvgHome so that other components can include this and get the functionality later.

when the user click on it, navigates to the home page.
when user hovers over it, cursor changes into a pointer.

for now - we haven't defined how navigation works so this issue is a placeholder.

[2021-11-28 01:12] ddfridley opened #42 "BackButton"
app/components/back-button renders the backbutton

new functionality:

- [x] when user clicks on it navigate to the previous place in the navigation
- [x] change pointer to cursor when someone hovers

This is waiting for a definition of how we do navigation

[2021-11-28 01:16] ddfridley opened #43 "InstructionButton"
renders the OpenBook icon.

New functionality:

- [ ] When someone clicks on it , it navigates to the instruction page.
- [ ] When the cursor hovers over it, it changes into a pointer

Waiting on a definition for navigation to context sensitive instruction pages, and waiting on the instruction pages.

[2021-11-28 20:42] #6 closed

[2021-11-28 21:19] ddfridley commented on #25
closed by #37

[2021-11-28 21:19] #25 closed

[2021-11-28 21:41] ddfridley commented on #16
@gmunilla14 I realized something about this component that I didn't before.  There is a user input aspect to it.  When the user clicks on one of the items, like "Submission" this component needs to respond by calling onDone({valid: true, value: "Submission"}) - except I'm open to other ideas for the value.  Also, the component will need to accept a value, which is the currently selected item.   Wh

[2021-11-28 22:16] #5 closed

[2021-11-29 12:26] rkoleci commented on #8
I will work on this

[2021-11-29 23:41] ddfridley opened #44 "Election component"
[code]
see #46 for electionOM details.

requires:
- ElectionTextInput #9
- SubmitButton #14
- Election Data Object Schema #46

figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?node-id=337%3A4279

- [ ] And see designer's notes to the right of the figma coponent above.

![image](https://user-images.githubusercontent.com/3317487/143959218-8aef9dbc-9f6e-4b11-8a3a-

[2021-11-30 00:12] ddfridley opened #45 "Timeline Component"
[code]
see #46 for electionOM details.

requires:

-  ElectionCreated #17
- Timeline Point #12
- VerticalTimeLine #13
- SubmitButton #14
- Election Data Object Schema #46

figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?node-id=344%3A4198

- [ ] And see designer's notes to the right of the component on the figma link above - but with one correction.  A date/ti

[2021-11-30 00:19] ddfridley opened #46 "Election Data Object Schema"
# This schema and issue is deprecated, see the new Wiki Page for the [Election Object Data Schema](https://github.com/EnCiv/undebate-ssp/wiki/electionObj-data-schema)

---
The definition for the electionObj that is used by other component to reference the content of an election setup.

[code]
Whenever the content of electionObj is changed, electionOM will change, which will cause a rerender of the

[2021-11-30 00:33] ddfridley commented on #12
@alex-808 I made updates to this issue description. I don't know if you get notified when I do - so here it is.

[2021-11-30 01:05] ddfridley opened #47 "areQuestionsLocked"
[code]

[2021-11-30 01:11] ddfridley opened #48 "Questions component"
[code]
Requires:
- #8
- #14
- #47

See #46 for the description of electionObj.questions

electionMethods.areQuestionsLocked() will return true if the questions are locked.

In the story, create a dummy electionOM to pass to the component.

figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?node-id=344%3A4897

- [ ] See notes to the right of the figma drawing of t

[2021-11-30 01:36] ddfridley opened #49 "Script component"
[code]
see #46 for electionOM details.
[code]
- [ ] If there are no questions yet, just render an empty page
- [ ] The length of the script array, should be one more than the length of the questions array.
- [ ] The text above each script item should be auto generated based on the number of questions.
- [ ] The text of the last script item should always be what you see in the last item here.
- [ ]

[2021-11-30 20:47] ddfridley opened #50 "Invitation component"
[code]
See #46 for electionOM details

- [x] `Submit Invite` should be a separate component, to which electionOM is passed.  For now create an app/submit-invite.js component that renders the button - and the rest will be done in another issue.
- [x] support message field seen in the figma

Prerequisites:
- #9

Figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?no

[2021-11-30 21:01] ddfridley opened #51 "Submission component"
[code]
See #46 for electionOM details
[code]

The inner frame of the submission box (the white box) fill show an iframe with the src being the link in the election obj.  If the link is not there, the moderator has not recorded yet.

Use this as the example of the link url for the story: https://cc.enciv.org/ucla-student-association-2021-moderator but we will try to end up with something that just

[2021-11-30 21:12] ddfridley opened #52 "Fetch Moderator Recording from Undebate Data"
When generating the electionObj we need to retrieve the moderator video recording link from the undebate data and out it into electionObj.submission.link

This is a placeholder issue for figuring that out.

We also want to update the electionObj if the moderator makes the recording while the election admin is viewing the page - but we may not try to do this in the first pass.

[2021-12-01 15:23] BolunThompson commented on #49
Hello! I can work on this issue. To clarify, why should the script array be one larger than the question array? Shouldn't they be the same length?

[2021-12-01 17:58] ddfridley commented on #49
@BolunThompson The script array should be one larger, because after the moderator asks the questions, the moderator gets to say thank you to the audience. So the moderator gets the first word, and the last word.

[2021-12-02 21:54] ddfridley opened #53 "Election Table component"
[code]
See #46 for electionOM details

Requires
- [x]  #88 for a component to display the table and edit its data
- [x] Renders the table of candidates, offices, etc
- [x] edit manually button allows user to edit the entries.
- [x] For the Upload CSV file button create a separate component for each button that returns the icon.   We will add functionality to this later. Pass electionOM into the co

[2021-12-02 23:57] ddfridley opened #54 "UploadCSV component"
[code]
See #46 for electionOM details

- [x] It should be **CSV** not cvs in the name
- [x] Initially the component renders the button
- [x] When someone clicks on the button, then it also renders the popup (as well as the button)
- [x] After the file is uploaded, it is extracted into an object, and the column names are checked.
- [x] If the column names match, and the electionObj.electionTable is

[2021-12-03 01:02] ddfridley opened #55 "PasteGoogleSheetsLink component"
[code]
See #46 for electionOM

- [ ] Initially the component renders the button
- [ ] When someone clicks on the button, then it also renders the popup (as well as the button)
- [ ] After the data is imported, it is extracted into an object, and the column names are checked.
- [ ] If the column names match, and the electionObj.electionTable is empty, add the rows to the table. And, if there is not

[2021-12-03 20:34] ddfridley commented on #46
@gmunilla14 I am moving your slack question here so the discussion will get captured in github.

As I see it, and I have been kind of talking about this with @procupid (Kamal) too through [comments on the UI design](https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh?node-id=344:6063#128806106)  - we should allow the election admin to enter what they know even if it's not the linear sequence that we

[2021-12-03 23:33] ddfridley opened #56 "Submissions"
[code]
See #46 for electionOM details
- [ ] Renders the table of candidates, status, etc
- [ ] See the [discussion in figma](https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh?node-id=392:5821#130352071) about possibly combining the two status columns into one
- [ ] The columns can be filtered see the lower figma drawing
- [ ] use the same table component and scrolling component as in #53
- [ ] The

[2021-12-04 01:14] ddfridley commented on #46
@gmunilla14 can you edit this issue and put your schema in the electionObj definition? It doesn't have to be complete - just a starting point. Alternative it could all be in a .js file -  and you could put that in a PR and I could link to it from here.  Even if it's incomplete.  Also I'm happy to consider other ways to document/format it but I want to refer to specific names in some of the Issues

[2021-12-04 22:06] ddfridley opened #57 "undebate component"
[code]
see #46 for description of electionOM

- [x] create QR code using url
- [x] [qrcode.react](https://www.npmjs.com/package/qrcode.react) looks like a good option but open to others.

figma: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?node-id=541%3A3978
![image](https://user-images.githubusercontent.com/3317487/144725415-8f15f697-7238-48cb-94cd-f2ae06c48838.p

[2021-12-06 18:05] gmunilla14 commented on #46
@ddfridley I definitely agree with allowing the admin to input information in a nonlinear fashion. The only reason for a definition of a "complete" timeline would be to know when to set the completed statusObj on the Timeline part of the Nav panel. My initial thought would be that we would need:

Moderator Invite Deadline
Moderator Submission Deadline
Candidate Submission Deadline

what do you thi

[2021-12-06 18:47] ddfridley commented on #46
@gmunilla14 Thanks for adding the schema stuff. I added uniqueId to the candidates. Something I talked about in #53.  Interesting that you are putting the invitation in there - I hadn't thought of that.  It might need to be a list though - there's the invitation and then the reminders.   It also ties in with design work yet to be done on the server side - sending out the emails.  Cron will look at

[2021-12-06 19:43] ddfridley commented on #16
@gmunilla14 I updated the initial comment to this issue - if anything is unexpected lets discuss.

[2021-12-06 20:07] ddfridley commented on #46
@gmunilla14 here is a counter idea to deadlines.

[code]
Some things only have one date - but things change. In cases like candidateSubmissionDeadline we always use the latest one.

In the above, there was name and email and date and such, but I'm thinking that information gets associated with the candidate and the moderator, rather than with the deadlines.  Thoughts? Or are you thinking we need t

[2021-12-07 01:30] gmunilla14 commented on #46
@ddfridley I think thats a good point. One thing Im thinking about is whether we should add a sent attribute for the reminder emails like below. I think this might fit more with the admins ability to set future reminder emails and make the "Reminder Sent" status more clear.

`   timeLine: {
        moderatorDeadlineReminderEmails: [
            {number: 1, "date": 1660144211000, "sent": true},

[2021-12-08 18:06] #18 closed

[2021-12-08 18:14] #7 closed

[2021-12-08 23:41] alex-808 commented on #22
Hey @ddfridley I have been working on this component and have a couple of questions. I've pushed my branch so you can check out the current state of it.

1. I'm assuming that the 'Create New', 'Instructions' and 'Search' buttons are going to make requests to the server. Is there any way you'd like me to mock that up (API request functions it would accept as props maybe) or should I just leave them

[2021-12-09 18:49] ddfridley opened #58 "Build Issues"
We are having issues building the project in some cases, perhaps on Linux.

![image](https://user-images.githubusercontent.com/3317487/145456691-a1130171-8349-41b0-9923-507943e1ed17.png)

This seemed to help with some of the problems
[code]
But then we were getting a problem running storybook.  We were getting a syntax error on this line:
[code]
of a built file that looks like main.js

[2021-12-10 01:17] ddfridley commented on #22
@alex-808 I have been working on the storybook problem all day and it's messed up my environment and It's going to be some work to get it back.

Yes - it would be good to accept style and className

1) I can provide you more detail on Create New.

For 2, look for a prop called user, that will be {id: 'unique-id', email: string}, or it will be undefined if not logged in yet. We don't currently have

[2021-12-10 01:18] ddfridley commented on #22
to log out, navigate to /sign/out

[2021-12-10 22:19] alex-808 commented on #22
@ddfridley awesome, all seems clear. Thanks David

[2021-12-11 21:16] ddfridley commented on #50
@kamui-fin When the user clicks on Send Invite, it should do this:
[code]
The last parameter is a callback where the server acknowledges that the request has been received, but you don't know it's been sent until the data sent gets updated.

- [ ] The button should be inactive (gray) until the moderator name and email have been entered and upserted.
- [ ] See the discussion at https://www.figma.co

[2021-12-11 22:23] ddfridley commented on #46
@gmunilla14 I have updated moderator.invitations, moderator.submissions, candidate.invitations, candidate.submissions to be lists and I've left a comment that this is derived data.  When an invitation is sent, a different iota is created and when a submission is made another iota is created.  When we search the database for the electionObj, we will search for the iotas that have this as a child, a

[2021-12-11 22:48] ddfridley commented on #46
@gmunilla14 I have an idea about ReminderEmails.  If we did it like this:
``
moderatorDeadlineRemindeEmails: {
    1:  {date: "", "sent": true},
    2: {date: "", "sent": true},
}
[code]
upsert({timeLine: {moderatorDeadlineReminderEmails: { 1: {date: "", sent: true}}
[code]
upsert({timeLine: {moderatorDeadlineReminderEmails: [ {number: 1, data: "", sent: true}]
[code]

[2021-12-12 03:40] jetamartin opened #60 "READMe Typos"
There are just a few minor typos in various sections of the README.md file.

[2021-12-13 00:14] kamui-fin commented on #50
Is this what you mean by displaying the sent date?
![image](https://user-images.githubusercontent.com/65237048/145733848-3f1c65b8-1b59-4e41-b292-4c513ffb5064.png)

Also, how would the user be transferred to the Election Table section if the button turns into a "Resend Invite" button after the user has clicked it?

[2021-12-13 06:22] ddfridley commented on #50
All I was thinking about was a list of dates that invites were sent at. But @procupid might think of better ways to display that.
I think that when the button says send invite, after the user clicks on it it goes to the next page.
But if the user comes back to this page it will say resend invite.
Or - we change the UI to have a Next button and a Send Invite button. But for now I'm going for the si

[2021-12-14 19:57] ddfridley opened #63 "ElectionTextInput error indication"
The app/components/election-text-input.js has the option to validate email.  If the email is invalid - we need to show something on the screen.  I'm thinking a line of red text below the input field that says "name@example.com format expected"  Other ways of indicating it are expected.  Blank should not indicate an error (but it's still valid: false as far as onDone is concerned).

[2021-12-15 05:02] alex-808 opened #65 "Add Poppins font to project"
Add Poppins font as specified in the [Figma](https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?node-id=326%3A5318). Make sure use in this project adheres to the font's license and copyright.

Required font weights:
- 400
- 500
- 600
- 700

<img width="226" alt="Screen Shot 2021-12-14 at 7 12 39 PM" src="https://user-images.githubusercontent.com/63484411/146116345-274c3

[2021-12-15 20:15] alex-808 commented on #65
Just for documentation purposes:

Poppins uses an [OFL](https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL) (Open Font License) which states that the font is free for use in print, digital, commercial or noncommercial products without need for acknowledgement to the authors. It's only limitation is that the font may not be sold by itself without bundling it with other software which

[2021-12-16 18:07] ddfridley opened #66 "Prettier"
Add prettier to this project, and pretty up all the existing files.  Add a description to the readme about how to setup prettier for visual studio code.  You start with what's [here](https://github.com/EnCiv/undebate#prettier)

[2021-12-16 18:11] ddfridley opened #67 "ESLint"
- [x] Add eslint to this project, working with the team on best practices.
- [x] Change files names from \*.jsx => \*.js,  \*_\*=> \*-\*
- [ ] Fixup all the files so that lint passes.
- [x] Add description to README.md about how to setup eslint on visual studio code

[2021-12-17 23:34] ddfridley commented on #22
@al

[2021-12-17 23:54] ddfridley commented on #22
@alex-808
I saw one thing after I merged the PR.
There is:
`"@media screen and (max-width: 840px)"`
It violates the no px rule.  When you have been working with displays for a long time, you will see that sizes change. Eventually, in some environment on some display, 840px will be the wrong answer.

What seems more appropriate here is:
'@media (orientation: portrait)'
Which says why (because you a

[2021-12-20 21:28] alex-808 commented on #22
@ddfridley good catch, wrote that out of pure habit. It turns out media queries do accept rems so I implemented that. I've pushed it to the branch. Let me know if it needs anything else.

I originally added the media query purely to prevent the icons crowding and looking nasty when the user icon hover effect expanded so the '@media (orientation: portrait)' solution wasn't quite what I was shooting

[2021-12-21 17:33] ddfridley opened #71 "API get-election-docs"
Gets a list of election documents belonging to the logged in user, sort by most recent first.

# client side:
emit('get-election-docs', docs=>{})

# server side:

socket-apis/get-election-docs.js
function getElectionDocs(){
see [get-topics-and-quesstions](https://github.com/EnCiv/unpoll/blob/main/app/socket-apis/get-topics-and-questions.js) in unpoll for an example. This example is a little more c

[2021-12-21 17:54] ddfridley opened #72 "upsert-election-doc"
## Client Side
emit('upsert-election-doc', obj, ()=>{}}

## Server Side
socket-apis/upsert-election-doc.js
function upsertElectionDoc(obj, cb) {

obj can be a complete object, or more often, a subset of the complete obj that the user has just changed.

- [x] _id is required - if not present logger.error a massage and cb(undefined)
- [x] #98
- [x] check the object against the schema #46 - if it fai

[2021-12-21 22:45] alex-808 opened #73 "Create Theme for JSS ThemeProvider and update components"
Using a ThemeProvider component wrapped around the App will give all child components access to the `theme` obj. The theme object can then be used in JSS's createUseStyles to access standardized styling information such as colors, fonts and sizes.

In order to use the theme information in a component all you have to do is pass a callback into `createUseStyles` which takes `theme` as a parameter.

[2021-12-22 00:14] ddfridley opened #74 "API subscribe-election-info"
this API call from the browser will get the current election-info and create a subscription for updates to that info.

## Client Side
socketSubscribe('subscribe-election-info', id,  result => {}, update=>{})

- id is the _id of the electionDoc as a string
- result=>{} is the function that will receive the initial value after the call. result is the complete electionInfo
- update=>{} is the functio

[2021-12-22 20:50] alex-808 commented on #67
One thing I thought of which might be something worth '--fix'ing might be exports. So far we've been using default exports which might be a good thing to enforce more rigidly as confusion using named/default exports could cause some issues for people down the road if it's ambiguous.

[2021-12-25 02:25] ddfridley opened #78 "API send-moderator-invite"
## Client
socket.emit('send-moderator-invite', id, cb)

## Server
app/socket-api/send-moderator-invite.js
function sendModeratorInvite(id,cb){
}

We will use [Send In Blue](https://developers.sendinblue.com/docs/send-a-transactional-email), and the npm packate [sib-api-v3-sdk](https://www.npmjs.com/package/sib-api-v3-sdk)

- [x] if user is not logged in, cb() and logger.error
- [x] use id to get t

[2021-12-25 04:34] ddfridley opened #79 "send reminder emails job"
- [ ] When the server starts up, look through the database for all the elections that are 'live'.
- [ ] find all the reminder emails that have been sent so far in those elections
- [ ] figure out which reminders haven't been sent but need to be because the reminder date is less that or equal to the current date
- [ ] figure out when the first reminder in the future that needs to be sent, and set a

[2021-12-29 06:59] #66 closed

[2021-12-30 20:44] #65 closed

[2021-12-31 19:19] #67 closed

[2021-12-31 23:41] ddfridley opened #80 "Landing Page for Election Administrators"
When we talk to an election administrator, or work with an organization to do an email blast to election administrators - we will send them to a landing page.  The goal of the page is to get them to create an account.

We need a visually information and appealing page design that convinces them to do this.

# Introduction:
Undebates are a non-polarizing, interactive, online video tool where candid

[2022-01-07 21:48] ddfridley commented on #8
Closed by #82

[2022-01-07 21:48] #8 closed

[2022-01-10 00:42] BolunThompson commented on #46
Hello! Are the scripts for the moderators stored in the electionObj? I assume so, but it isn't documented here.

[2022-01-10 01:24] ddfridley commented on #46
Yes. I will add.

⁣Get BlueMail for Android ​

On Jan 9, 2022, 4:42 PM, at 4:42 PM, Bolun Thompson ***@***.***> wrote:

[2022-01-10 17:55] ddfridley commented on #80
Figma from @procupid still under development: https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Portal?node-id=1459%3A3587

[2022-01-11 20:49] ddfridley commented on #58
Solved by specifing node version 16 and if someone has tried to compile with version 17, they need to do an npm -ci or rm -rf node_modules to clean out the errors.

[2022-01-11 20:49] #58 closed

[2022-01-15 18:43] ddfridley commented on #50
this was closed by PR #68

[2022-01-15 18:43] #50 closed

[2022-01-15 19:49] ddfridley opened #87 "Refactor input components for onDone and defaultValue patterns"
- [ ] support defaultValue changing after initial render - this happens when new data comes from the server
- [ ] onDone needs to be called after the initial render, with {valid, value} set appropriatly. It also needs to be called whenever defaultValue changes. So something like this:
[code]
- [ ] avoid loops - using useState() at this level may introduce them because it will cause another rerende

[2022-01-15 20:56] #63 closed

[2022-01-15 21:32] ddfridley opened #88 "election-table-input-component"
[code]
editable false means the table is not editable.
defaultValue is an array of row objects
Render a table and allow the user to input entries.
When entries change, onDone is called with the row object as the values to update them.
candidates may change at anytime from the server side - need to rerender'

use react-table to do the table, and see https://react-table.tanstack.com/docs/examples/ed

[2022-01-19 00:14] ddfridley opened #90 "make columns sortable in candidate-table-input"
app/components/candidate-table-input.js

see
https://react-table.tanstack.com/docs/examples/sorting

We especially want to be able to sort by the office column, but seems to make sense to sort by any column.

[2022-01-20 17:38] ddfridley commented on #12
@alex-808 are you going to work on this? If not - please unassign yourself. It's okay if you want to work on other issues - but maybe you forgot.  I haven't been reviewing status with people.

[2022-01-20 17:48] ddfridley commented on #16
And if you have any work in progress that you want to push to the repo, please do and link to it in a comment here.

[2022-01-20 18:03] ddfridley commented on #90
Blocked so that we do this after the first release.

[2022-01-20 18:05] ddfridley commented on #88
Closed by PR #89

[2022-01-20 18:05] #88 closed

[2022-01-20 19:29] alex-808 commented on #12
@ddfridley I'm working on it now although I did forget about it, sorry about that. I plan on having a PR for it by the end of the day. I have a good amount done already.

[2022-01-20 20:54] #73 closed

[2022-01-22 00:07] ddfridley opened #92 "auto size the columns, up to the full width in candidate-table-input"
app/components/candidate-table-input.js
app/components/submissions.js

and see https://react-table.tanstack.com/docs/examples/full-width-resizable-table

[2022-01-22 00:16] ddfridley opened #93 "Poppins font-weight 600 issues"
In figma, poppins with font-weight 600 looks like this:
![image](https://user-images.githubusercontent.com/3317487/150615846-717ac6e6-910e-4114-9f9f-2fbbce3c8109.png)

But in chrome, with our repo it looks like this:
![image](https://user-images.githubusercontent.com/3317487/150615742-d08e9eb8-5e28-4f48-8802-a4430fc129a7.png)

The font is a little too heavy in the latter case.  Are we loading the

[2022-01-22 00:30] ddfridley commented on #53
separate issue create for some features above. Base requirements implemented in PR #94

[2022-01-22 00:30] #53 closed

[2022-01-23 22:52] ddfridley commented on #48
closed by pr #84

[2022-01-23 22:52] #48 closed

[2022-01-24 21:27] #71 closed

[2022-01-25 23:26] kamui-fin opened #98 "if user is not logged in, return undefined, and logger.error a message"

[2022-01-25 23:27] #98 closed

[2022-01-27 00:17] #93 closed

[2022-01-28 00:51] #12 closed

[2022-02-03 23:44] ddfridley commented on #46
@kamui-fin Just changed acceptedDate to responseDate and added status to some fields.

[2022-02-04 23:40] #49 closed

[2022-02-05 00:11] ddfridley commented on #87
I did script-text-input  in PR #103

[2022-02-05 00:12] #60 closed

[2022-02-06 15:23] BolunThompson commented on #56
I'll take this issue

[2022-02-06 20:16] ddfridley commented on #56
Great @BolunThompson!  It may or may not be helpful to look at the candidate table input page. https://github.com/EnCiv/undebate-ssp/blob/main/app/components/candidate-table.js and please see the story for that for how we are pulling the electionOM in from context, and how we are setting defaultElectionObj to pass in default data.

[2022-02-10 05:37] #72 closed

[2022-02-10 23:02] ddfridley commented on #44
Done in PR #104

[2022-02-10 23:02] #44 closed

[2022-02-11 21:14] ddfridley opened #105 "getElectionStatusMethods"
- [ ] Create an object of the methods that get election status. The object will be used in electionMethods.  Extracting the methods out of navigation-panel.js

The interface/pattern to be compatible with useMethods (see below)

app/lib/get-election-status-methods.js
[code]

- [ ] import and expand this object into .storybook/preview.js

[code]

- [ ] Do a couple status methods and make sure it wor

[2022-02-14 21:16] ddfridley opened #106 "API Create Moderator Recorder in Undebate"
Create the API l that will cause the moderator undebate recorder to be created.

client side:
[code]
the call back should return undefined if there is an error, or
{ moderator: {viewerPath: "/path/to/viewer", recorderPath: "/path/to/recorder"} }

The API call should result in a side effect where all browsers subscribing to the electionObj should get an update.

Note: references to undebate that fo

[2022-02-16 23:22] #51 closed

[2022-02-17 20:07] ddfridley commented on #16
closed by PR #103

[2022-02-18 18:06] ddfridley opened #108 "SignInSignUp Component"
[code]
onDone is a function that is called when the user is logged in. Value is undefined or userInfo returned when the user logs in, valid should be true if login successful, false if not.

- [ ] Initially, the component will just render a button, that shows the name. This will replace [SignInButton](https://github.com/EnCiv/undebate-ssp/blob/main/app/components/sign-in-button.js) and [SignUpButt

[2022-02-18 20:05] ddfridley opened #109 "Undebates Landing Page"
[code]
This is the first thing new election administrators will see when considering undebates for their elections.  As we build this component, we will take as much of the text and content out of props as we can. This makes it easier to change on the fly - without having to update the server.   The props will be set in Iotas.json.    There are names for the props provided, but they are guidlines

[2022-02-18 20:30] ddfridley opened #110 "UndebatesFooter"
[code]

- [x] The component should layout differently depending on the orientation.  It might be useful to use the orientation media query.
- [x] besides what you see here, in the bottom left corner we need a link to the terms of service.  See app/components/footer
- [x] And in the middle of the bottom line it should say Copyright (c) 2022 EnCiv, Inc
- [x] Donate button should open a new tab with

[2022-02-18 21:00] ddfridley opened #111 "LandingTimeline Component"
[code]
- [ ] Depending on the orientation of the display, the timeline should render in Landscape or portrait
- [ ] Most of these icons are already in app/svgr, check there before creating new ones

Landscape:
[![image](https://user-images.githubusercontent.com/3317487/154759881-1b0673ea-a091-4dff-b430-6397bd3ec745.png)](https://www.figma.com/file/yXrcMvg5EIwdLkHHxIdILh/Undebate-Self-Service-Porta

[2022-02-18 21:10] ddfridley opened #112 "Statement Component"
[code]

- [x] The Statement component will render the subject and description.
- [x] It will be full width, within the parent (the parent sets the width)
- [x] It should allow for text to by multiple paragraphs.
- [ ] If class or style has textAlign set that should override the default textAlign="center".

[![image](https://user-images.githubusercontent.com/3317487/154761035-1118de9e-7d06-4e9f-a4b

[2022-02-18 21:32] ddfridley opened #113 "IconBox"
[code]

- [ ] IconName is the ReactStyle name of an icon. Your challenge is to import app/svgr (meaning index.js that lies within), and then generate a table of the named react components. If you can't find the component, just render nothing.
- [ ] in package.json in the line
[code]
remove `&& rm app/svgr/index.js` and save the file.  This will allow app/svgr/index.js to be created. Then `npm run

[2022-02-18 21:56] ddfridley opened #114 "FAQ Component"
[code]

- [x] The questions are visible, and the answers are not
- [x] When the user clicks on the question, or the chevron to the right, the answer should appear below.
- [x] The answer appearance should be animated by having the height grow.
- [x] Answers may have multiple paragraphs.
- [ ] The HaveAQuestion compnent #115 will be rendered at the end

[![image](https://user-images.githubuserconte

[2022-02-18 22:30] ddfridley opened #115 "HaveAQuestion Compnent"
[code]

- [x] After the user enters their questions, and hits Tab or Enter, another line appears, saying "Want a reply? leave your email"
- [x] A submit button will also appear.
- [x] When the user hits submit use the [send-contact-us](https://github.com/EnCiv/undebate/blob/master/app/api/send-contact-us.js) api to send the question.   see [site-feedback](https://github.com/EnCiv/undebate/blob/mas

[2022-02-21 21:14] ddfridley commented on #74
Closed by #116

[2022-02-21 21:14] #74 closed

[2022-03-07 21:15] ddfridley commented on #110
@Gluay88 Here's a little bit of code from [unpoll.js](https://github.com/EnCiv/unpoll/blob/main/app/web-components/unpoll.js) that shows how to do different orientations.
[code]

[2022-03-07 22:20] Gluay88 commented on #110
Thank you David.

[2022-03-07 22:25] #56 closed

[2022-03-10 04:27] BolunThompson commented on #111
I'll take this issue

[2022-03-10 05:26] ddfridley commented on #111
@BolunThompson Great. I assigned it to you.  While you are working on this one, please also think about #19.  The difference is this one is static, just for the landing page. Where as the other one should take it's data from electionObj, and is more interactive.

[2022-03-11 18:39] ddfridley opened #120 "LandscapePortraitSlider Component"
[code]

- [ ] If device orientation is in portrait mode, show the portrait mode version first, else landscape version.
- [ ] When showing the portrait version on a portrait orientation device, the statement should be below the image, else to the right.
- [ ] the linkObj url should be rendered within an iFrame.  For testing use: https://cc.enciv.org/country:us/organization:ucla-student-accociation/

[2022-03-11 19:32] ddfridley commented on #115
link for example of dumming emit https://github.com/EnCiv/civil-client/blob/main/stories/use-auth.stories.js

[2022-03-13 23:39] kamui-fin commented on #105
How do you interface with the status methods from a jest test? Since it's a react hook (useMethods), it isn't callable inside of a normal unit test.

[2022-03-13 23:57] kamui-fin commented on #57
When the download button is pressed, will the browser start a download for the image file of the QR Code itself? If so, will SVG work?

[2022-03-14 05:04] ddfridley commented on #105
@kamui-fin a fair point.  useMethods takes a function, which returns an object that has all the functions as properties.   Perhaps the jest test should call that function, passing it's own dispatch function and state. And then test the functions.  Or the functions could be exported from where they are and imported by the jest test.

[2022-03-14 05:06] ddfridley commented on #57
I think the QR Code will need to be a PNG for most editors to work with.

[2022-03-14 18:30] ddfridley commented on #79
https://www.sendinblue.com/

[2022-03-15 20:06] #110 closed, assigned to Gluay88

[2022-03-16 18:53] ddfridley commented on #108
@Gluay88 I think you need to do this:

- [ ] to enable testing of useAuth within storybook in this repo copy [unpoll/.storybook/middleware.js](https://github.com/EnCiv/unpoll/blob/main/.storybook/middleware.js) into this project

[2022-03-17 17:36] ddfridley commented on #21
@jetamartin I'm copying this discussion into git so that it can be associated to the issues, and it makes it easier to respond to detailed discussions

Jet:
David,  finally have some free time and I'm trying to get back in the game again. To that end I assigned issue #21 UndebatesList to myself. It looks pretty meaty but I'll try and give it a go (unless you think I shouldn't).
As I was looking at

[2022-03-17 17:41] ddfridley commented on #21
Before I said only one active filter, but that doesn't seem necessary. You can add filters to multiple columns.

[2022-03-17 17:51] ddfridley commented on #21
Jet:
Regarding clearing the filter by clicking on the "-"....to me that seems to be very subtle...so much in fact that I didn't even notice the dash. ...rather than using a "-"  by itself why not explicitly change it to something that is much more explicit like "Clear filter".
And there doesn't appear to be any mechanism for clearing all filters so they would have to be cleared one by one. While i

[2022-03-17 20:50] jetamartin commented on #21
David,  concerning my question about "circles", I was referring to the red/purple dots.
My question is do those two dot's act as a single entity (together the dots form one clickable item and return both purple and red results)

- OR-

They are independent entities...e.g., user can click on just the red dot and get all the "red" items -OR- the user can click on the purple dot to just see the purpl

[2022-03-17 21:19] #57 closed

[2022-03-17 21:24] ddfridley commented on #21
I see the 2 dots as independently clickable.  I agree about the size issue, but this particular application (the designers instructions) is desktop first, and it's better to get something up there and get feedback, than to iterate on the design at this point before getting feedback.  Another alternative is to take out that feature and make a separate issue for it and work on it later.

[2022-03-17 21:45] jetamartin commented on #21
David, point of clarity...you've referenced Google sheets on several occasions in your responses...." I don't see it in the google spreadsheet example."
Are you just referencing Google spreadsheet as a model for how this table should operate relative filters or is there a google spreadsheet for this spreadsheet that details the product features. I assume it is the former? But just want to be sure

[2022-03-18 00:11] jetamartin commented on #21
Same question as the "Date" column, the "Status" column doesn't appear to have a way to reset the filter once a filter has been selected and applied. Maybe that is intentional or there was some agreed upon approach that wasn't noted in the UI Figma file or maybe I'm just missing it. Thoughts?

[2022-03-18 00:41] ddfridley commented on #21
1) Its good enough for the now and the next year. I don't really see much need to filter on year.  The robust solution would be to create a date range input - but it doesn't seem useful until years from now.

2) Okay, I am going to recant my previous statement about the dash above video submitted and candidates.  I'm not clear what it meant and maybe it was to select blank - though I'm not sure ho

[2022-03-18 01:30] jetamartin commented on #21
TL/DR we'll go with your recommendations. The text below is just me restating my understanding.

**re: #1** -  Ok we can go with only using the filters specified in the Figma documentation for now (Last year, Last 6 months, Last Month). Obviously this means you'll be restricted to displaying a maximum of 12 months of data (e.g. 03/17/2021 - 03/17/2020). Anything outside of that window will not be

[2022-03-18 01:59] jetamartin commented on #21
More questions/clarifications:
From your prior messages you clarified that the purple & red dots should operate as separate entities (ie., user can select/click on either the red or purple dot independently of each other.) Given that I have a couple of questions that need clarification:

1) If a user clicks on the purple dot or red dot what should they see on the screen. Should they ONLY see items

[2022-03-18 05:03] ddfridley commented on #21
Initially, all data will be displayed.  When filters are reset, all data will be displayed. "Full data" should be the default.

Note: My assumption is that a user should only be allowed to check one filter options per column at this point

Agree to check and uncheck.  As for the `-` in some collumns, leave it out for now, and it may become apparent when we get into the data more if we need somethi

[2022-03-18 05:20] ddfridley commented on #21
I think we need to make an update to the parameters passed.  To this component.
Instead of electionObjs we will pass electionOMs.
It will be an array of [electionObj, electionMethods]
electionMethods.getxxxxxxxxx() will return the status you need for the columns.

[2022-03-18 06:24] jetamartin commented on #21
David, thanks for the clarifications...I'll go with your recommendations you noted above.

Just to reiterate my earlier comment,  a decision to go with  "if red is selected and you click purple, red is unselected." is not consistent with the Figma documentations which reads "clicking on them filters the results. Re-clicking them removes the filter".

Your recommendation suggest that the dots have

[2022-03-18 20:50] jetamartin commented on #21
David, regarding the blanks (i.e., '-')....good catch...that explains why the blanks ('-') were only in the Moderator and Candidates filters,

How would you feel if I changed this to something like:
'No Timeline specified'  OR
'Timeline not specified'

Would that work? If not feel free to suggest some different wording.
Cheers,
Jet

[2022-03-19 00:17] ddfridley commented on #21
Answering you question from slack here.
For now, there are a bunch of status functions in [navigation-panel.js](https://github.com/EnCiv/undebate-ssp/blob/main/app/components/navigation-panel.js) like getTimelineStatus()

In the new future (Kamui is working on it) these functions will be moved out, and will become available as electionMethods.
so you can call electionMethods.getTimelineStatus() to

[2022-03-19 00:26] ddfridley commented on #21
How would you feel if I changed this to something like:
'No Timeline specified' OR
'Timeline not specified'

Would that work? If not feel free to suggest some different wording.
Cheers,
Jet

To make this change I think it needs to be coordinated with the navigation panel and the electionMethods so we have to figure out how/where to coordinate.  Also - I think something like "waiting" would be nice

[2022-03-19 00:48] jetamartin commented on #21
David, thanks. I do see those methods in the navigation-panel.js and will look at leveraging those but is there a definition or was there agreement as to what constitutes that the election is in a "state of urgency" (e.g., x # of days out from an election an "y" is not complete or "z" number of things haven't been completed). I just don't want to create my own definition if there was already an ag

[2022-03-19 02:05] jetamartin commented on #21
Do you mean "Waiting for Timeline" or just "Waiting"? "Waiting" is pretty generic. It seems like we have precisely named filters for many of the steps.  I guess we can wait until Tuesday to discuss as I don't have the full picture.

[2022-03-20 04:29] ddfridley commented on #21
I've learned that we need to separate the logic from the rendering.  A frequent react lesson. So we will need a new method - something like getElectionUrgent() which returns true/false - subject to discussion. (maybe it should be getElectionStatus and return '' | 'urgent' | 'live'

There is no spec and I couldn't find other notes in figma - that that's not conclusive because I don't see a way to s

[2022-03-20 05:10] ddfridley commented on #54
@ice1080
Great questions.  I am copying this discussion from slack to git so that it can be seen by others, and stored with the issues that we are discussing.

Downloads a sample csv file.

 a. Also what should it say a file is selected?
 b. I'm happy to make decisions around all this, just wasn't sure if we already had this defined somewhere or if you prefer to make these decisions.

Not sure wha

[2022-03-20 20:32] ice1080 commented on #54
Thanks for following up @ddfridley!
I'll work on the sample file for 1).

I see that react-file-drop is MIT licensed, so we should be good with that and I will demo what I have on Tuesday for 2).

I see that the @storybook/addon-interactions package allows the storybook tests and automated interactions such as clicking and possibly file uploads as well, not sure yet on that. That answers 3) for me

[2022-03-21 15:58] ddfridley opened #127 "API Create Candidate Recorders in Undebate"
similar to #106
use `import { undebatesFromTemplateAndRows } from 'undebate'` to create the viewer and recorders.  See
[app/socket-apis/create-moderator-recorder.js](https://github.com/EnCiv/undebate-ssp/blob/main/app/socket-apis/create-moderator-recorder.js) for how example use.

Pull the moderators recording from the database, to use as the moderator for the candidate recorders, and for the view

[2022-03-21 19:22] #105 closed

[2022-03-29 05:15] ice1080 commented on #54
As I am working through the final case of matching rows for this component (matching on name and office), I thought about a case that might not produce desired behavior in an edge case.
Let's say we have two John Smiths running for the same office. If one of them were to change their email and we were importing the csv to do this change, then this will produce indeterminate behavior; it may or may

[2022-03-29 05:35] ddfridley commented on #54
Understood. We might want to reject or something if there are two candidates either exactly the same name. Or we could create an issue for it and deal with it later. It's rare but not impossible. But the election in general will gave a problem with that too.

Thanks

⁣Get BlueMail for Android ​

On Mar 28, 2022, 10:16 PM, at 10:16 PM, ice1080 ***@***.***> wrote:

[2022-03-30 02:35] ddfridley opened #131 "Handle error of duplicate names in candidate table upload"

[2022-03-30 04:12] jetamartin commented on #21
David, per our discussion at our weekly meeting this evening (3/29/2022), what follows are my personal notes that I made to try and summarize some of the discussions/conclusions from this thread. I can't be sure that is 100% inclusive of all our discussions but it represents what I think are the key conclusions.  Most of the content that follows concerns the "red" and "purple" dots filter "feature

[2022-03-31 04:03] ddfridley commented on #54
Great.
Put sample.csv in assets/csv (new directory), and we can update it as we need to. Then you can link to it at /assets/csv/sample.csv

And as I think about it, lets call it sample-candidate-table.csv to make the name more descriptive.

[2022-04-04 06:13] #47 closed

[2022-04-04 22:11] ddfridley commented on #109
@Gluay88 can you try adding the font-faces from [app/assets/styles/index.css](https://github.com/EnCiv/undebate-ssp/blob/main/assets/styles/index.css) to the UndebatesLandingPage  component, using [react-jss#font-face](https://cssinjs.org/jss-syntax/?v=v10.9.0#font-face). That css file doesn't get included when you npm run dev, and we need to  avoid having global css files .  undebate-ssp uses the

[2022-04-04 23:04] Gluay88 commented on #109
Will do. Thank you.

[2022-04-05 18:48] #87 closed

[2022-04-11 20:33] ddfridley opened #140 "Convert other stories to the makeChapter pattern"
See [stories/election-header.stories.js](https://github.com/EnCiv/undebate-ssp/blob/main/stories/election-header.stories.js) for the makeChapter pattern.

Convert other stories to this pattern.

Are there stories where this pattern and the one makeChapter file don't fit? - Lets discuss.

[2022-04-11 20:37] ddfridley commented on #111
Closed by #132

[2022-04-11 20:37] #111 closed

[2022-04-11 20:40] ddfridley commented on #114
closed by #121

[2022-04-11 20:40] #114 closed

[2022-04-11 20:43] ddfridley commented on #115
closed by #125

[2022-04-11 20:44] ddfridley commented on #113
closed by #134

[2022-04-11 20:44] #115 closed

[2022-04-11 20:44] #113 closed

[2022-04-11 20:45] ddfridley commented on #112
closed by #133

[2022-04-11 20:46] #112 closed

[2022-04-11 20:47] ddfridley commented on #54
done #135

[2022-04-11 20:47] #54 closed

[2022-04-11 20:57] ddfridley commented on #106
closed in #124

[2022-04-11 20:57] #106 closed

[2022-04-14 04:39] nynaalekhya commented on #92
Hi @ddfridley
I'm working on this issue

[2022-04-14 04:40] nynaalekhya commented on #78
Hi @ddfridley
I have been working on this issue

[2022-04-26 18:49] ddfridley commented on #20
@kamui-fin I added some task to the bottom of this issue to clarify that it's calling the apis to get data from the server.  Happy to discuss in more detail.

[2022-04-30 04:41] ddfridley commented on #80
This has been completed. See the figma above.

[2022-04-30 04:41] #80 closed

[2022-04-30 05:37] #45 closed

[2022-05-01 16:06] ice1080 commented on #55
Hey @ddfridley , I believe I have a pretty good picture of how to implement google's oauth for our needs. I had a couple quick questions/comments on this:

1. I'll eventually need to register our app as a google api app so that our users can grant it read-access to; it's necessary for the oauth requests. To do this, I would need the login information for the google account you mentioned, or we'd n

[2022-05-02 00:35] ice1080 commented on #55
Unfortunately I just realized that almost all of my work for today is no longer very useful because I was embedding all of this into the react component itself (which is what many of their docs show). The google api requires your api key to be passed into every request, so anyone would easily be able to see our api key in the network tab. I'm about to push what I've got so that it's saved somewher

[2022-05-02 03:48] ice1080 commented on #55
I think I have a decently clear path for how to do this in the backend. Is there a way to add endpoints to the app? I _believe_ this is done in routes, is that correct?

[2022-05-02 05:45] ddfridley commented on #55
@ice1080 If you are using google security tokens, we will need to include a doc, or add to the readme on how to do it.  This is what I have for using gmail with the civil-server and undebates. https://github.com/EnCiv/undebate/blob/master/doc/Install.md#email-setup

Also, ideally each developer would be able to set it up for themselves, using their own google account.  Then I wouldn't have to mana

[2022-05-02 15:59] ice1080 commented on #55
@ddfridley thanks, I believe this answers most of my questions.

Regarding the security tokens, each dev can setup their own which is what I've been doing to continue forward so far. I was initially thinking that we would eventually be switching to the final values, but those really are only needed for the actual deployment (I believe I saw in heroku). I'll update the markdown for this (and mentio

[2022-05-02 18:00] ddfridley commented on #1
The was completed a while ago. Just closing it to clean up the issues.

[2022-05-02 18:00] #1 closed

[2022-05-03 20:24] nicholas-terry commented on #140
Handle comment

[2022-05-04 02:33] ddfridley commented on #19
@BolunThompson I assigned this to you just to keep track - but if you can't get to it for a while thats fine just let me know.

[2022-05-04 22:50] #13 closed

[2022-05-05 21:06] ddfridley commented on #55
@ice1080
Here is a rough draft swag at doing oauth2 with google with the socket-apis
I guarantee bugs and syntax errors in the code below.

client side:

YOUR_CLIENT_ID and YOUR_REDIRECT_URI are public. Even if we constructed the Authorization URI on the server and sent it to the client, those values would be visible. And the Authorization URI has to be accessed by the client, so the user gets the

[2022-05-06 04:25] ice1080 commented on #55
Thanks for this @ddfridley! This lines up with what I was originally thinking before our long discussions haha.
The main thing I didn't realize from the above is that express/node will keep objects in memory such as your above `const oauth2callbacks`, and that multiple files that import that will use the same pointer. I believe that solves the last piece of the puzzle that I was confused on. I wil

[2022-05-06 04:41] ddfridley commented on #55
Oops, after you find the item you  have to remove it.
[code]

[2022-05-06 16:51] ice1080 commented on #55
One more question on the oauth2callbacks object. Is this atomically safe in nodejs? i.e. if two processes are modifying the object at the same time, is it possible that splice could end up messing up the object?

[2022-05-06 17:07] ice1080 commented on #55
Now that I sent that, I just talked to someone else and they sent me this which helped answer my question. JS itself is single threaded, so the above use of the shared objects across multiple sessions is safe. Sorry for all the questions on this one!
https://stackoverflow.com/questions/49141259/does-a-nodejs-server-use-multithreading/49141596#49141596

[2022-05-06 22:09] ddfridley opened #143 "Delete question"
The app/component/questions.js component has the ability to add questions, but not delete them.

- [ ] Propose a new UX for deleting questions and review with group. Make it easy for new users to understand.
- [ ] Implement/ The deleted question will need to be removed from the object and the changed questions upserted, and the last entry upserted with a value of undefined.  eg `upsert( {questions

[2022-05-09 01:47] ice1080 opened #144 "Store Oauth tokens in DB"
For the Paste Google Sheets component (#55) the app has to get the user's consent to be able to read their spreadsheets. We are currently only storing this consent in the server side in memory, and removing it as soon as the user has consented and we've extracted the data. It is common practice to eventually store the necessary credentials in the db. However, we are not yet encrypting our database

[2022-05-13 04:58] ddfridley opened #145 "NavState Component"
Create a component to manage the state, and provide actions for the Home button and the Back button.

One way to do this is described below.  Another way to do it would be to use ReactRouter.  It's up to you.

[![image](https://user-images.githubusercontent.com/3317487/129801762-713be3a7-e26d-48ca-9c3e-da6421d29b6f.png)](https://www.figma.com/file/IQKPx02pkBErpmhQoECoq9/Undebate?node-id=132%3A7175

[2022-05-17 17:56] ddfridley opened #146 "Send Candidate Invites"
## Client
socket.emit('send-candidate-invites', id, cb)

## Server
app/socket-api/send-candidate-invites.js
function sendCandidateInvites(id,cb){
}

### Helpful references
- wiki page for [send-in-blue-transactional](https://github.com/EnCiv/undebate-ssp/wiki/Send-In-Blue-Transactional) for a higher level library for initializing sendinblue and setting a template.
- [app/lib/send-in-blue-transacti

[2022-05-22 04:04] ddfridley commented on #55
I'm trying to run it, and having trouble with the authorization. Trying to run it from my windows PC.  How did you fill out this page:
![image](https://user-images.githubusercontent.com/3317487/169678014-c8b2e790-2de8-40f1-98be-31e935513954.png)

[2022-05-22 04:30] ddfridley commented on #55
Working!

Authorized redirect URIs: http://localhost:3011/googleAuthRedirect

I had HOSTNAME set wrong, and then I didn't think to include the googleAuthRedirect part.

[2022-05-22 04:51] ddfridley commented on #55
Now I'm getting an error "Unable to extract data from link. Please compare your document with the sample document."
Does this look right?: https://docs.google.com/spreadsheets/d/1hR3dQb3Giju27ssb3IReeRh_Q7VfdL26AWF8IvFV-o4/edit?usp=sharing

[2022-05-22 04:55] ddfridley commented on #55
Resolved.  I needed to do this: 'Google Sheets API has not been used in project XXXXXXXX before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/sheets.googleapis.com/overview?project=XXXXXXXXX then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.'

[2022-05-22 05:15] ice1080 commented on #55
Ah interesting. I shall update the readme with that info in an upcoming commit!

[2022-05-22 21:49] BolunThompson commented on #19
I can start working on this now.

May 3, 2022 7:33:23 PM David ***@***.***>:

[2022-05-23 22:09] ddfridley commented on #55
I made changes to make the oauth part more generic. And tested them and put those changes in this branch: https://github.com/EnCiv/undebate-ssp/tree/oauth-separate so you can have a look.  I don't know an easy way to show you the diffs.  It's not a lot of changes, but it's to the files extract-sheet-data.js, is-signed-in-for-sheet.js, google-paste-sheets-popup.js, and google-auth-redirect.js. Mayb

[2022-05-24 04:07] ice1080 commented on #55
I think that definitely makes sense, and will probably be easier now than later. Working on the merge now. I also most likely will not be able to make the meeting tomorrow night but am getting close to having this in a more workable condition.

[2022-05-24 05:40] ice1080 commented on #55
Just about done with it overall; calling it done for tonight. I need to test with some actual socket users, which I assume I get by creating a user on the /join page (or whichever it was). I'll clean up the console logs, and the last thing is adding the link to the spreadsheet in google drive you mentioned above. I should have this done by later tomorrow night!

[2022-05-24 05:52] ddfridley commented on #55
Yes /join is where to go. I admire how informative your commit messages are.  I doubt mine are.  I was thinking it might be nice to future developers to add the url[s] to the spreadsheets into your webComponent/qa-... so they can just copy and paste them in, or click on them to open them.

Thanks a whole bunch for this effort.  Have a great vacation.

[2022-05-24 06:03] ice1080 commented on #55
Ah good idea. I'll move them into that Google drive link so they're owned by that, and add them to the QA component.

[2022-05-25 22:14] ddfridley opened #152 "Update Google Sheet with unique Ids"
Stretch goal in #55  "If there was no uniqueId column in the google sheet, add the column and populate it with the uniqueIds generated." - this one opens up several other questions around exactly how this should work so should be done in a different issue

[2022-05-25 22:19] #55 closed

[2022-05-25 22:24] ddfridley commented on #52
closed by #151

[2022-05-25 22:24] #52 closed

[2022-05-26 18:41] ddfridley opened #153 "signin-signup too big on small phones"
the pop up app/components/signin-signup.js component is too large for small smart phones.  Using google chrome you can test it in developer mode by toggling the device toolbar, and selecting iPhone SE.

One way to fix it would be to figure out how to make it scrollable. Right now it just pops up and you can't move it.
Another way would be to dynamically shrink the font size until it all fits, or j

[2022-05-26 19:35] ddfridley opened #154 "send-password api"
The send password socket-api call is missing. This should be added to the civil-server repo.
This is the code, taken from the original synaccord repo:
[code]
In the above `secret['forgot password email']` is:
`"Hey,\r\n\r\nYou are receiving this email because you requested a password reset.\r\n\r\nYour reset key is:\r\n\r\n\t{key}\r\n\r\nTo reset your password, copy the reset key above and go to {

[2022-06-03 04:01] ddfridley commented on #78
@nynaalekhya How's it going? I haven't head from you in a while, We are getting close to the end and I am jumping in on this task.

[2022-06-03 04:04] ddfridley commented on #108
closed by #129

[2022-06-03 04:04] #108 closed

[2022-06-03 20:31] ddfridley opened #155 "Election Component User Input Additions"
To the app/components/election-component we need to some new things.  The UI design is up to the developer, but please review with others before getting comitted.

Include some text like this:
`When emails are sent to the moderator and candidates the email templates will use information from these fields`

- [ ] organizationLogo - a url to the logo for the organization.  If the user enters one, we

[2022-06-15 02:40] ddfridley commented on #120
This is are a branch already started for this.  https://github.com/EnCiv/undebate-ssp/tree/landscape-portrait-slider

[2022-06-17 04:28] ddfridley commented on #127
@ice1080
I am making a change to the electionObj schema.  The moderator.submissions object will have the docs of the moderator's recordings.  You need the speaking array.  Here is an example doc that can be found in app/socket-apis/tests/get-election-docs.  I will update issue #46 when I get the chance.  The `Object` text below is something that jest creates, you can ignore it.

For each candidate

[2022-06-22 02:58] #78 closed

[2022-06-23 01:21] ice1080 commented on #127
One more question, I noticed that in your example above, I believe I would have to know the object id of the submissions object to get to the speaking array, does that sound correct?
[code]
unless I am getting the electionObj and the electionDocs confused?

[2022-06-23 03:00] ddfridley commented on #127
The APIs just return undefined if there is an error. My thinking was that the function would get exported and used in the UI somewhere, someday.

[2022-06-23 03:07] ddfridley commented on #127
Yes.
In app/lib/get-election-status-methods is
[code]
getLatestIota(electionObj.moderator.submissions) would get the object you should use.  I would say use that function, but you are working on the api side rather than the browser side.  Id say export it out of there, and then import that function into what you are doing.

[2022-06-23 03:50] ddfridley commented on #20
closed in #157

[2022-06-23 03:50] #20 closed

[2022-06-23 03:51] ddfridley commented on #23
closed in #157

[2022-06-23 03:51] #23 closed

[2022-06-23 17:23] ddfridley commented on #120
closed in #136

[2022-06-24 05:02] ice1080 commented on #127
I see within `sendModeratorInvite` that we do this:
[code]
So I believe it's already exported, and I'll use the same thing!

[2022-06-24 05:15] ice1080 commented on #127
It looks like we'll need a specific intro video for candidates. The intro video for the moderator one specifically mentions the moderator. It might be possible to create a video that would work for both and replace the moderator one too, though I'm not familiar enough with the whole process just yet to say for sure.

[2022-06-24 17:33] ddfridley opened #158 "iconboxes not same height"
In app/components/undebates-landing-page
The 3 icon boxes are drawn, but if the content (which comes from props) leads to different height text boxes, the boxes look unevenly distributed.

- [ ] Using CSS, figure out how to make the bottom of the 3 icon boxes line up, by adding extra space to the bottom of shorter boxes. You may have to create a separate iconboxes component. Without the someone ha

[2022-06-24 18:20] ddfridley commented on #127
For now use the existing one, and lets come up with a rough script for a new one.  Maybe we'll find a volunteer to redo both.

[2022-06-24 18:29] ddfridley commented on #127
That will work, but it's extra overhead to put into a server side API function, if all that's needed is that one function.  But, go for what's easiest to get working for now.

[2022-06-24 23:08] icdt-ihudson commented on #127
Sounds good, I will make a stretch goal to put that function in the server side somewhere.

[2022-06-24 23:10] ice1080 commented on #127
Sounds good, I will make a stretch goal to put that function in the server side somewhere. (sorry if double commented, used the wrong account)

[2022-06-25 03:52] ice1080 commented on #127
I'm not sure I fully understand what is needed relative to how the create moderator recorder does things. I see that it uses the `moderatorViewerRecorder`, which requires specific data and functions to work with the undebate function `undebatesFromTemplateAndRows`. But will we be doing the same thing with a `candidateViewerRecorder` and also passing it to `undebatesFromTemplateAndRows` or will we

[2022-06-25 04:45] ice1080 commented on #127
Another question, possibly related, I'm having trouble finding where in all the json is the list of candidates that we'll be updating. I see it in iotas.json, but perhaps I'm just having a hard time wrapping my head around the relation between the data in a file like moderatorViewerRecorder and the data in iotas.json, if that makes sense.

[2022-06-25 05:19] ddfridley commented on #127
#46 is the best example of candidates
You could also go to the candidate table in storybook and look at the election object that gets generated. Next week we'll be able to generate data in the database.
We can talk about the other on Tuesday.

[2022-06-25 05:23] ice1080 commented on #127
Ya I definitely understand where it lives in the electionObj, but is this API just modifying the electionObj directly or is it calling something else like how create moderator recorder calls the function from undebate? That's fine if you'd like to wait till Tuesday for now.

[2022-06-26 17:56] ddfridley commented on #127
Here's something that may help. I have been adding stuff to the new [schema wiki page](https://github.com/EnCiv/undebate-ssp/wiki/electionObj-data-schema).  If there is anything I should explain more - please let me know.

the create-candidate-recorders api, will use getElectionDocById.call(this,id,cb) to get the electionDoc.  The function returns the whole doc, including the outer Iota structure.

[2022-06-26 18:57] ice1080 commented on #127
Sounds good. Right now both create-moderator-recorder and create-candidate-recorder were using this to get the electionObj, so I'll update it to use getElectionDocById instead.
[code]
The rest of what you explained makes sense. I'll look at how the moderator has been done in the mergeOps, that also explains why I wasn't clear on where the candidates were, as mergeOps had not yet been updated. I be

[2022-06-26 19:28] ddfridley commented on #127
Ya. To create the candidate recorders the moderator submissions are needed but won't be there before the mergeOps.

[2022-06-26 23:43] ice1080 commented on #127
Ok I believe I am getting somewhat close on this one. A few more questions regarding get-election-docs for what I'm hung up on currently:
1. For each of the candidate child objects (recorder, viewer, submissions), will the parentId of each iota be the candidate id or the elctionDoc id?
If this value is the candidateId, then we need to have a candidate iota in the db, which I'm not exactly sure wha

[2022-06-27 01:46] ddfridley commented on #127
1) parentId of the recorder iota doc will be the viewer doc.
ParentId of the viewer iota doc will be the the election doc. This is how it is for the moderator so you can see how the merge Ops works for those.  bp_info for the recorder should include the unique-id of the candidate, and the office form the candidate table. You have to add the info to bp_info when creating the undebate.

2) I think t

[2022-06-27 19:29] ddfridley commented on #109
closed by #159

[2022-06-27 19:29] #109 closed

[2022-06-28 03:51] ice1080 commented on #127
I keep feeling like I have a grasp on things in this conversation and then I try to implement and my understanding seems to disappear ha. Maybe just typing this out will help me figure out what I'm missing, so I'll do that separately and potentially post it in here if I feel like others could benefit from it. As a note, when you said above that the "parentId of the recorder iota doc will be the vi

[2022-06-28 04:16] ice1080 commented on #127
And I could be mistaken but I believe the mergeOps of the candidates will be a good bit different than the moderator as the obj path for the moderator is as simple as "webComponent.moderator.submissions" for example, but for the candidates I have to add each item to each of the candidates in "webComponent.candidates.<every candidate id>.submissions"

[2022-06-28 04:23] ice1080 commented on #127
I just pushed the candidatesRecorder method in mergeOps, I need to test it for multiple candidates but I believe it should work. That one was the easy one since the bp_info contains the candidate id in unique_id (as mentioned). We can talk tomorrow about my questions regarding the viewer/submissions merge ops

[2022-06-29 03:35] ice1080 commented on #127
@ddfridley I thought that I just about had the candidate submissions, but I got stuck on one thing that might just be a unit test thing. Here is my code in mergeOps:
[code]
The problem I see (at least in the unit tests) is that the candidate.name has not yet been assigned in the webComponent. I know that root.webComponent is the electionObj, and I know that eventually the electionObj has the fille

[2022-06-29 04:59] ddfridley commented on #127
The candidate names will get into the electionObj when someone uploads the CSV file.  You might have to manufacture some of your own records for the unit test. the \_\_test\_\_/find-and-set-election-doc has  mockElection with candidate data.

If you want to see it in action you can `npm run dev` with the latest build, and browse to localhost:3011/undebates and join and create an undebate.  And the

[2022-06-29 05:05] ddfridley commented on #127
FYI the bp_info will be in the recording. That record is created in [undebate app/components/lib/create-participant](
https://github.com/EnCiv/undebate/blob/d5539bcef7ea43f093435708d60760768ca57868/app/components/lib/create-participant.js#L72)

[2022-07-01 22:40] ice1080 commented on #127
I believe I've found a problem with get-election-docs for what we're trying to do. We last talked about doing something like this for the candidate recordings (MergeParticipants):
[code]
But it seems like that won't work because of this line in `intoDstOfRootMergeChildrenOfParentFromIotasMarkingUsedIndexs`:
[code]
Does that sound correct? I will have more time to dig into this on either Sunday or

[2022-07-01 23:13] ddfridley commented on #127
I __think__ I had this problem with the moderator recorder. That's why moderatorViewers in mergeOps returns the function to call, with the viewer as the parentId, but still the same dst and root.  Does that help?

[2022-07-01 23:42] ice1080 commented on #127
I'll dig in more to confirm. Maybe I had something wrong in my test, but my merge op was using the same method.

[2022-07-05 03:56] ice1080 commented on #127
All right, I had somehow modified what I had copied in the function call. I had `getId(child.parentId)` for the parent Id because I hadn't initially understood that function, but now I have it as `getId(child._id)` just like moderatorViewer. Cleaning up a few things then will have you do a quick code review to see if what I've got for the election docs is what you're looking for.

[2022-07-05 04:16] ice1080 commented on #127
Alright @ddfridley, if you happen to have time before tomorrow's meeting, can you look at these two files on my fork? Let me know if there's anything blatantly missing from that? I'm still working on create-candidate-recorder.js so it's not quite ready yet, but the below should be ready, assuming that's what we want our office viewer to look like.
https://github.com/ice1080/undebate-ssp/blob/api-c

[2022-07-05 04:49] ddfridley commented on #127
In https://github.com/ice1080/undebate-ssp/blob/api-create-candidate-recorders%23127/app/socket-apis/get-election-docs.js
I don't think line 266 is necessary.  I don't think office is used.

The rest we need to discuss.  I was thinking that the submissions should go under the candidates uniqueId. The UI needs to know if the candidate has submitted anything. `webComponent.candidates.[uniqueId].subm

[2022-07-05 05:22] ice1080 commented on #127
Agreed on line 266, that was one I missed from an old test version locally.
Ok we can talk about the submissions tomorrow. Last time we talked I thought you had said the submissions were going to go under the office viewer, but maybe I just misunderstood and you only meant that for the parentId of the submissions.

[2022-07-06 03:02] ddfridley commented on #127
Here is an example of the moderator submisission, (recording, participan record, ...)
[code]

[2022-07-06 05:06] ice1080 commented on #127
@ddfridley I tried creating my own locally and got this when I click the submit button. It appears that it's getting created when I refresh the page, but just wanted to note it somewhere.
[code]

[2022-07-06 05:46] ice1080 commented on #127
Regarding create-candidate-recorder, I'm not sure I'll be able to get much further without understanding what goes into undebatesFromTemplateAndRows. It's definitely not a subset of the electionObj, but I've tried doing something similar to the moderator-viewer-recorder and overwriting what I know and that doesn't seem to successfully create the CandidateConversation either. It's possible that I d

[2022-07-07 04:15] ice1080 commented on #21
@ddfridley One option for this is the community edition of ag-grid. We use that at work and it's pretty nice for built in column sorting, filtering, even reordering if you choose to turn that on. You can generally style it however you want, so should be able to style it to be close to what is in figma. Anyway, just an option.

[2022-07-07 04:26] ddfridley commented on #21
If you mean this: https://www.npmjs.com/package/@ag-grid-community/react I'm not apposed. (Says MIT license)

[2022-07-07 04:59] ice1080 commented on #21
When I first glanced at this code I thought it was using a basic html table but I now see that it's using react-table which seems to have all the functionality we need, so shouldn't need to pull in another library!

[2022-07-07 17:29] ddfridley commented on #127
Its SO GOOD to have you asking about this.  It's forcing me to write stuff down and make it clearer.

undebatesFromTemplateAndRows is going to use the template (the candidateViewerRecorder), and the rowObjs (an array of row objects), to create one recorder Iota for each candidate, and one viewer Iota for each office.   (The moderator example was a degenerate case with 1 and 1. )

undebatesFromTemp

[2022-07-08 04:08] ice1080 commented on #127
For this section, here's what I've got for that, and the questions I have:
[code]
These so far are basically the same as moderator. I believe that the main important one we'll need to update is the election_date and then next would be type_name, type_id, and election_source, though those might not be as important. From what I'm seeing in the template file(s), it appears that we'd have to pass in m

[2022-07-08 04:15] ice1080 commented on #127
Btw, I haven't tested the links yet, but with what we've got so far, I'm at least getting this from my qa component now:
[code]

[2022-07-08 04:39] ddfridley commented on #127
Yes.  It would be better to refactor it so we don't have to pass in things like election_source in every row, but not for this moment.  type_name is going to be a challenge.  It needs to be unique for each organization, but we don't have any logic for preventing election admins from naming their organizations uniquely. Thoughts?  One is to use the userId. It's ugly and longer than it needs to be.

[2022-07-08 04:41] ice1080 commented on #127
The next issue I'm seeing is that the new viewer objects seem to not have parentIds attached to them. I don't see us doing this in moderator-viewer-recorder, but I do see us unit testing that there exists a viewer iota that has the correct parentId. I'm guessing this then gets set somewhere in undebate? I can't seem to figure out where in undebate that would be occurring at and what I'm missing fr

[2022-07-08 04:56] ddfridley commented on #127
In app/socket-api/create-moderator-recorder.js life 92 is
[code]

[2022-07-08 05:06] ice1080 commented on #127
:facepalm: I must be too tired, I should have noticed that. So sorry! Going to bed after this lol.

I tested the recorder link for my user and see it successfully gathering the recording. It froze on upload but that could be because I didn't have the parentId on the viewer when I was testing this. Now that I've got that, I also see my unit tests getting further so should be able to finish those up

[2022-07-08 05:12] ddfridley commented on #127
Do you have cloudinary setup?  uploads go to cloudinary.  I usually create a heroku app, and add cloudinary to it (free), and then get the CLOUDINARY_URL out of the env from heroku and put it in .bashrc

[2022-07-08 05:21] ddfridley commented on #127
speaking of .slice()
In create-moderator-recorder.js right after
[code]
I should have done
[code]
and then inside createModeratorRecorder should have done
[code]
and then mutate the newModeratorViewerRecorder everywhere else.

Thanks for helping me realize this.  Not sure if clonedeep works on functions though. Make it a class?  I'll think about it tomorrow.

[2022-07-09 01:13] ice1080 commented on #127
Question on the usage of this whole thing, I'm guessing the election admin will be performing an action that will cause this to get called? Specifically I'm asking, the individual candidates will not be performing the action that calls this, correct?

[2022-07-09 01:22] ddfridley commented on #127
Correct. The admin does it about once or maybe 2 or 3 times per election.

[2022-07-09 01:30] ice1080 commented on #127
Perfect, had to update some things around that. Another question, will the candidates have a "message" property, like the moderator has?

[2022-07-09 01:49] ice1080 commented on #127
One downside to using a real database with shared data between tests is that it can easily cause test pollution. When I run the create-candidate-recorder test on its own, everything passes. When I run the create-moderator-recorder test on its own, everything passes. When I run all the unit tests, they oftentimes cause test pollution. To help with some of this, I changed the testDoc id and in the a

[2022-07-09 01:50] ddfridley commented on #127
No message for candidates.

[2022-07-09 01:57] ddfridley commented on #127
I have had the problem with multiple db tests in parallel. My solution was to give each iota its own unique _id and make sure that my queries wouldn't catch things outside the scope of my test.

You can use
'node node_modules/civil-server/dist/tools/mongo-id.js' from the command line to generate unique -ids.

[2022-07-09 02:01] ddfridley commented on #127
It was also an interesting challenge with testing socket-apis but eventually I figured out how to open a new server for each socket test running in parallel.

[2022-07-09 02:08] ice1080 commented on #127
Unfortunately the pollution is not caused by me inserting objects with the same ids; I think the pollution is actually caused by the moderator test and candidates test having the same viewer. I'm not sure exactly how this is happening though. But ya it seems to be failing here, because the viewerId is somehow the same, so it's getting the moderator Undebate object too. :thinking:
{{{
    const iot

[2022-07-09 02:21] ice1080 commented on #127
One thing I just noticed while testing this, it seems like when I'm recording my videos that the other candidate (you in this case) gets one extra recording to say "Vote for me". Does that sound accurate? I'm also not seeing a script so maybe I'm still missing something. Anyway, I'll create the PR and let you run it locally to see if there's some things I'm missing.

[2022-07-09 04:42] ddfridley commented on #127
I gave you a bad example to start with.
I did this in the tests for create-moderator-recorder and create-candidate-recorders
[code]
Now they run in parallel.

Maybe. The moderator always speaks first to introduce the undebate, and last to thank all the voters for participating".  Are you thinking "I" am a candidate, or am "I" the moderator?

[2022-07-09 05:04] ice1080 commented on #127
Ok I'll update the tests for that, good to know. That makes sense yet again that I would have to clone it. I again forgot that those would be pointing at the same reference, so when I updated one of the ids, it was updating both.

Maybe my moderator videos from the db are old links and pointing at you acting as a candidate because the videos are definitely answering questions and not asking them.

[2022-07-09 05:18] ddfridley commented on #127
FYI - I pushed the clone changes I made to the branch.

⁣Get BlueMail for Android ​

On Jul 8, 2022, 10:04 PM, at 10:04 PM, ice1080 ***@***.***> wrote:

[2022-07-09 19:07] ice1080 opened #162 "Various Defects/Issues"
This issue is being used to hold various issues noticed at any time in any part of the app or storybook. It can be added to at any time prior to the v1 release

- [x] Typo: "underbate" should be "undebate" (multiple instances of this)
- [x] Typo: "archieved" should be "archived" (multiple instances of this)
- [x] Datetime Input stories "Filled" and "Disabled" are the same as "Default"
- [x] Dateti

[2022-07-09 19:22] ddfridley opened #163 "Moderator Invite Details"
- [ ] On the Invitation page, there should be one button for "Generate", and another button for "Send".  But maybe there are better names.
- [ ] create a separate sendModeratorInvitation method in app/components/get-election-info and emit the send-moderator-invite api call
- [ ] After the generate step, the list of dates of generation should be shown. (It's possible to generate again, if for examp

[2022-07-09 20:26] ddfridley opened #164 "Candidate Invitations Details"
- [ ] create a separate sendCandidateInvitations methods in app/components/get-election-info and emit the send-candudate-invitations api call
- [ ] We need a positive feedback way to debounce the send button for invitations.  After the user hits the button, it needs to be disabled until there is a positive response back from the server that the invitations have been sent (or not if there's an erro

[2022-07-09 21:27] ice1080 commented on #21
@ddfridley, a couple questions on this.
1. For the date filter (last year, 6mo, or 1mo), is that on the creation date or the end date?
2. I see that there is no filter for the Election Name, but there is a search bar up top. Is searching part of this issue or a different one?
3. Also confirming that all filters but the date column are multi-select, is that correct?
4. In the figma, I see the below

[2022-07-09 22:14] ddfridley commented on #21
1) end date
2) There isn't another issue for it, so either implement it or add it to the issues depending on the difficulty.
3) Yes, unless the effort is unreasonable.
4) I remember having this discussion with Jet. Here is an example of filters in google sheets: https://docs.google.com/spreadsheets/d/19M5Oabh80GlX0qEuJr237V5CrCtkBkxrwmdbQAblL2Q/edit?usp=sharing
I propose that we leave the name of

[2022-07-09 22:26] ice1080 commented on #21
That all sounds good, thanks!
For the moderator status (and possibly one or two other columns), I was planning on implementing a method like this in getElectionStatusMethods. Does that make sense there or would it make more sense in my component? I will still be adding an svg depending on the return of this method, so could see that being enough reason to move it to the list, but could argue eithe

[2022-07-09 23:00] raeplusplus commented on #92
I can take this issue

[2022-07-10 02:25] ddfridley commented on #92
Great! Please ask if you need an explanation of anything. I know it's hard to get started in other people's code.

[2022-07-10 21:05] ice1080 commented on #21
More questions:
1. For the status column, "Configurating" or "Configuring"?
2. For number of days left in the moderator column, at what point does it become red? 3 days left? 5 days left?

[2022-07-10 21:10] ddfridley commented on #21
1: Configuring
2: const DAYSLEFTDANGER=3

[2022-07-10 21:37] ice1080 commented on #21
And for the days left under each of Moderator, Candidates, and Status columns, do we already have anywhere where we are retrieving those? I see electionMethods.countDayLeft but that only gets the days before the electionDate itself.

[2022-07-11 00:36] ice1080 commented on #21
And another question (all of these are pretty low priority, just trying to get ahead in the answers) - For an archived undebate, in the status column section, do we want to display days ago or what figma shows of the same as the date column?

[2022-07-11 04:36] ice1080 commented on #21
Continuing the list of questions, when looking at the first row that has a moderator status of "Video Submitted" in this image:
https://user-images.githubusercontent.com/3317487/131607948-6143b9b1-5693-408c-957a-255d1e39ff4d.png
For the candidates column, it has 0/30, and then 29 accepted, 2 declined, 2 reminders sent, and 1 deadline missed.
When I look at the Navigation Panel, it seems like the m

[2022-07-11 05:30] ice1080 commented on #21
Last question for tonight. For the filter on the candidates list, I'm not sure I understand what it means to filter on any of the 4 individual candidate statuses. There's also a few here that don't seem to make sense. Here's the full list in figma:
* blank
* Election Table Pending...
* Invite Pending...
* Invite Sent
* Invite Accepted
* Invite Declined
* Reminder Sent
* Video Submitted
* Deadline

[2022-07-11 17:07] ddfridley commented on #21
on moderator candidate status - We should not mix the two. Despite the examples, candidates status should only count candidates and candidate recordings and not the moderator.  It's two separate 'acts'.

selecting status - I agree. It seems like some statuses like Invite Pending, Send, Accepted, Decliend, refer to indivitual candiddates, and others, like ElectionTable Pending, In Progress would ap

[2022-07-11 19:29] ice1080 commented on #21
Whoops, looks like I still have one more question left from above. I still need to know the values for the X out of Y submissions display (0/30, X/Y). Is Y the total number of candidates, or just those that accepted the invite? Does deadline missed affect that at all?

[2022-07-11 20:05] ddfridley commented on #21
Y is total number candidates. Deadline missed doesn't effect.
Note: We haven't implemented invitations accepted / declined yet.  It hasn't been an issue but I bet that matters in what your doing.

Would it make sense to delay multiselect drop doing? Either single select, or just not have it for the first run.

The header bar hooks up with undebatesList in undebates-homepage.  It just needs to pass

[2022-07-11 20:47] #127 closed

[2022-07-11 22:45] ddfridley opened #165 "Date Input Logic - election date in past can't be changed"
IF you set the election date to a date in the past, accidentally, you can never change it.
1) Need to be able to change past election dates
2) Need some way to inform users if they are setting dates out of range
3) Need some way of checking valid date ranges on the date inputs.

[2022-07-12 03:09] ice1080 commented on #21
Sounds good, writing a method now for checking candidate submission status.
I will probably start with a basic select for the filter first and then do the multi select later.

And ya the onDone for the list was already done when I started, what I was referring to for "hooking up header bar with undebates list" was the search bar on the header affecting one of the filters on the list.

[2022-07-12 03:26] ddfridley commented on #21
Got it. Great. I'm working on send-candidate-invites.

[2022-07-15 04:51] ice1080 commented on #21
Hey @ddfridley, for a case when a list may only have a subset of all available columns, do we still want the filter dropdown to display all available options, or should it only display those in the current list?

[2022-07-15 05:26] ddfridley commented on #21
seems like showing all would be less work. Go with less work. [I think another option would be to show them by gray out the ones that aren't available but do the less work answer].

[2022-07-15 22:08] ddfridley commented on #146
closed in #166

[2022-07-15 22:09] #146 closed

[2022-07-16 23:27] ice1080 commented on #21
Regarding sorting, the figma mentions that the sorting is only done by Date initially. The example also appears to show archived elections at the bottom. Is this something that we would like specifically, or is date sorting sufficient? (speaking specifically about the default sort)

[2022-07-17 00:21] ice1080 commented on #21
Do we also want archived elections to continue to be in a state of "live", with the purple icon on the left?

[2022-07-17 00:41] ddfridley commented on #21
Sort by date only.
Archived basically means the election is over so it shouldn't be live anymore.
Sorting by Date will mostly group the arrived ones together.

[2022-07-17 01:08] ice1080 commented on #21
More small questions on this. For the date filter values, do these include future dates as well, or only election dates between the Last N months and the current date?

[2022-07-17 01:53] ddfridley commented on #21
I could see a filter of "the next 12 months" as useful for filtering out all the past elections.

[2022-07-19 20:08] ddfridley commented on #162
I fixed Vertical Timeline story - it was an issue with uninitialized data in time-point.js  It will be pushed in an upcoming PR.

[2022-07-19 21:08] ddfridley opened #167 "footer too wide"
the footer is ending up slightly wider than the viewport, causing a horizontal scroll bar to be added to the page that otherwise should have one.

'app/components/footer.js'

it works correctly in storybook, but when you `npm run dev` and go to http://localhost:3011/home you get the problem.

- [x] The footer should not add width to the page it is at the bottom of.
- [x] The /home page should not

[2022-07-19 21:30] ddfridley opened #168 "Undebate Is Live"
In the purple box at the bottom left, it says Undebate Is Live - but it shouldn't.

- [ ] The undebate shouldn't be 'live' until after the candidates have recorded, and after the undebate goes live date.

look in app/components/navigation-panel.js for the purple box.
look in app/lib/get-election-status-methods.js for the functions that calculate the status.

The screen below was done in dev.  But

[2022-07-20 02:42] nicholas-terry commented on #164
Break up into separate issues for multiple team members to work on?

**NOTE**

[2022-07-24 22:05] ice1080 commented on #21
Hey @ddfridley, optimization question for you. The React Table documentation strongly recommends that we use `React.useMemo` for the data (electionObjs) and the columns in order to decrease excessive function calls. Unfortunately, when I try to view the UndebatesHomepage with the list in place, it throws this react error:

[code]

In looking into this error (which I discovered only occurs when bot

[2022-07-24 22:20] ice1080 commented on #21
An unrelated note from above, it appears that react-table does not offer highlighting for global searching, which is something the figma calls out in the SEARCH section to the right of the HOME section. I've seen one possible implementation of it that I may try near the end, but I'm changing that one to a stretch goal.
https://github.com/TanStack/table/issues/1575

[2022-07-25 00:33] ice1080 commented on #21
Another potential defect I may have discovered, and perhaps this is more of a question about the timeline object. I see that `countSubmissionDeadlineMissed` in get-election-status-methods (along with `countSubmissionReminderSet`) uses moderatorSubmissionDeadline instead of candidateSubmissionDeadline. Is this correct as-is or should it be changed?

Perhaps a follow up question would be if you coul

[2022-07-25 04:15] ddfridley commented on #21
I agree with not useMemo. I understand their concern, but electionObj is stable at the top unless it changes.

''Error: Rendered more hooks than during the previous render.'' happens you you have hooks inside of logic of for loops that cause the number of hooks executed with the component to be different on different renders. Has been a pain sometimes.

Fine to have highlight in a separate issue f

[2022-07-25 04:33] ice1080 commented on #21
Ok ya in that case I believe that we do have an issue then, all of the candidate table stuff uses count**Submission** methods instead of count**Submissions**. I'll try to refactor all that as part of this issue, as my stories would have to be either wrong or I wouldn't be able to test.

[2022-07-27 00:21] ice1080 commented on #21
Hey @ddfridley, for the search functionality, just confirming that the search bar at the top will only display after clicking the search magnifying glass, and that it will shift to the center of the screen instead of staying where it currently is?

[2022-07-27 03:08] nicholas-terry opened #170 "User Dashboard (testing)"

[2022-07-28 18:28] ddfridley opened #171 "Miscellaneous UI issues"
- [x] in the timeline, after you enter a date, the time defaults to 12:00am - should be 11:59pm to avoid confusion
- [x] After entering questions, I always hit the add question button, the "Submit" button should remove empty questions - and then advance to the next panel.
- [x] On the timeline there is a new Seconds field.  The Submit should be disabled until all Seconds fields are filled in.  If

[2022-07-31 17:38] ddfridley opened #172 "Font scaling for undebate but not undebate-ssp"
app/start.js

// toDo the undebate web components need the font scaled to the viewport,
// but other web components don't.  We need to make it work both ways
// if (serverReactRender.head) serverReactRender.head.shift() // the first one in the head didles the font size and we don't want that

[2022-07-31 18:16] ddfridley opened #173 "Adding candidates while in progress"
- [ ] If candidates have already been entered and invided, and possible even submitted, then a new candidate is added to the candidate table, "Send Invites" should send invites only to the candidates that have not been sent invites before.  see app/socket-apis/send-candidate-invites.js
- [ ]  The candidate table should show the invite status.  app/components/candidate-table.js  -- currently the co

[2022-08-05 00:08] ice1080 commented on #167
Looks like this one is actually caused because the div above it has a style of `width:100vw;height:100vh`. Looking into this to find out where it's coming from.

[2022-08-05 03:55] #21 closed

[2022-08-05 04:09] ice1080 commented on #145
Hey @ddfridley, most of the things in this issue are basically reinventing the wheel with things that React Router does for you.
If the primary goal is navigation and context/history, are you ok if the usage of React Router leads to several of the checkboxes in the issue being slightly different in their implementation?
Additionally I'm not sure how exactly a story would work for this, but React R

[2022-08-05 04:38] ddfridley commented on #145
Go for it! It would be a plus to be using react router in this project.
We may also need to create a dedicated /route for /undebates..... rather than using the iota path method. That's fine.  I'm all in.
For a story, I wash thinking that the router implementation could be mocked to start with the story location -
ie `/?path=/story/undebate-homepage--new-user` instead of `/undebates` but whatever w

[2022-08-05 05:35] #167 closed

[2022-08-14 19:06] ice1080 commented on #163
@ddfridley I see this one marked as in-progress but not assigned to anyone. Are you working on this one?

[2022-08-14 19:24] ddfridley commented on #163
Yes. Thanks for checking.

[2022-08-14 22:46] ice1080 commented on #162
@ddfridley any preference on the method renames? I'm fine to leave it if you prefer or can do refactoring to rename methods to be more descriptive if preferred.
I'm specifically referring to these two:
- [ ] "countSubmissionAccepted" and "countSubmissionDeclined" might make more sense as "countInvitationAccepted" and "countInvitationDeclined" since it's checking the invitations?
- [ ] consider ren

[2022-08-15 02:31] ddfridley commented on #162
It would be much easier to read if it was ...ModeratorSubmission and CandidateSubmissions.

Another challenge:
If you look at app/components/done-locked-button * have created a button that the user has to click to say that they're done with that panel.  But I haven't factored that additional status info in to a lot of places.  Frankly, it's not immediately clear  where all the places are that it n

[2022-08-17 01:24] ddfridley commented on #164
@ice1080 I have the first one in a repo I will check in soon.

[2022-08-17 01:25] ddfridley commented on #172
This is done in #179

[2022-08-17 16:20] #162 closed

[2022-08-22 20:44] ddfridley commented on #145
This has been done using react-server-dom and and it's useSearchParams hook.  The code is in #181

[2022-08-22 20:44] #145 closed

[2022-08-22 20:45] ddfridley commented on #42
Done in #181

[2022-08-22 20:46] #42 closed

[2022-08-22 20:46] ddfridley commented on #41
Done in #181

[2022-08-22 20:46] #41 closed

[2022-08-23 02:37] ddfridley commented on #140
Enough stories have been changed to the pattern, we don't need to change them all.

[2022-08-23 02:37] #140 closed

[2022-08-23 04:27] ddfridley opened #185 "Issues related to email"
- [x] Logo in the email needs a default if not provided by the admin
- [x] Add a new Contact Name field on the Election page and save to db
- [x] Emails from address is changed from "My Company" to be "<contact-name>@<organizationName> via EnCiv.org"

[2022-08-23 04:30] ddfridley commented on #46
Closed. See the wiki instead.

[2022-08-23 04:30] #46 closed

[2022-08-24 18:51] ddfridley opened #187 "Instructions for Candidates Video Recording"
When a candidate first starts to record, this video welcomes them, explains how this works, and records their placeholder video, before the moderator leads the Q&A process.

Here is a basic script, but we are looking for a recording that has energy and enthusiasm so subtle changes based on personality may be helpful, but w all the points need to come across clearly.

# Script
Hi, I’m __ a voluntee

[2022-09-07 01:38] ice1080 commented on #164
@ddfridley for when you get back from vacation:
The third item of extracting reasonsNotReadyForCandidateRecorders into status methods says that it's for the Generate button. The only generate button in the code base is for the moderator recorder button and it already has a method for determining if it's ready for generation. Or perhaps I'm misunderstanding this and this is all for the Send Invites

[2022-09-07 02:11] ddfridley commented on #164
We have a new volunteers who just signed up to look at that one. I should have slacked you.

I ended up creating another api to create and send - that calls the two separate apis. To get rid of the generate button. But the functionality is still needed for the create api.

Thanks

David.

⁣Get BlueMail for Android ​

On Sep 6, 2022, 3:38 PM, at 3:38 PM, ice1080 ***@***.***> wrote:
***@***.*** for

[2022-09-07 15:13] ice1080 commented on #164
No problem. Is the other person just taking the third item of extracting? Or this whole issue?

[2022-09-07 16:39] Shakadeliks commented on #164
@ice1080 Just trying to find my way through the tasks step by step, so just undertaking the third item for now.

[2022-09-07 18:07] ddfridley commented on #164
@ice1080 Can you think of anything for this one:

Show the list of sent dates of invitations. [invitations might get sent more than once]. this is electionObj.moderator.invitations and the date is encoded in the _id use ObjectId(_id).getTimestamp() to get the date

And it says moderator.invitations but it should be about candidades.[candidateId].invitations

It's needs some UI design as well as a

[2022-09-07 18:55] ice1080 commented on #164
Ya I can take that part @ddfridley

[2022-09-08 00:34] ddfridley opened #190 "loading spinner"
When you first login, if the connection is slow, it will take a while for elections to load.  Similarly, if you click on an election, and go to the configure-election page it may take some time to load.

We should have a spinner, or something indicating that something is happening.

For code. the data for the election list is fetched in  [app/components/undebate-homepage.js](https://github.com/EnC

[2022-09-08 01:01] ddfridley opened #191 "Generate Recorder / Send Invites to Candidates User Feedback on Click"
After you hit generate moderator recorder, or send invites to candidates, on a slow link there may be a long delay before the response is received by the browser.  The user needs some feedback that things are going on behind the sceens.  The button will go dark (disableOnClick) when initiated, and on success it goes to the next panel, but there could be a delay of several seconds so we need to let

[2022-09-08 01:42] ice1080 commented on #164
Hey @ddfridley, a couple questions on this one whenever you get a chance.
1. Wanting to confirm that we are updating the candidate table for this list of invite sent dates? The current Invite Status column?
2. You mentioned getting the date encoded in the _id. Is that preferred over using the invite object sentDate field?

[2022-09-08 02:11] ddfridley commented on #164
@ice1080
1-Not sure if your question is about the front end or the schema:
schema:
Invites are in candidades.[candidateId].invitations see https://github.com/EnCiv/undebate-ssp/wiki/electionObj-data-schema
invitations is auto generated by merging in those Iotas in getElectionDocs.  It might be messy to try to render that in the candidate-table as is.
Front End:
Right now the submissions page looks

[2022-09-08 02:19] ice1080 commented on #164
Ah got it. I was assuming you meant the Election Table page to do something like this:
![image](https://user-images.githubusercontent.com/25037168/189018722-6756192e-36cb-4ceb-a9cc-635b5cbda025.png)
I can also do both pages fairly easily by just making the code common

[2022-09-08 02:26] ddfridley commented on #164
Both pages sounds fine.  Looks good. Its starting to look like the two pages should be combined - but later.

[2022-09-08 02:44] ddfridley commented on #164
@ice1080 - an alternative idea, would it be hard to change the '<Envelope Icon>Sent' Submission status to '<Envelope Icon>Sent 210 days ago` and the not having a special column.

[2022-09-08 02:49] ddfridley commented on #164
@ice1080 Oh - I see the Send Reminders is only on the candidate-table page. Back to the first idea.

[2022-09-11 02:41] ice1080 commented on #164
@ddfridley I believe it will be quite a bit of work and hacky code to get the Submissions page to have this list of invites without some pretty major refactoring. Since you talked about eventually combining them, would we be alright if this only goes to the Election Table page for now?

[2022-09-11 03:32] ice1080 commented on #164
How does something like this look? You're seeing a tooltip that shows up on hover.
![image](https://user-images.githubusercontent.com/25037168/189511187-f370c0a0-f63f-4451-9b49-96dc1032c083.png)

[2022-09-12 21:52] ddfridley commented on #164
@ice1080 looks great. Good enough to have this for now, worry about submissions page in another iteration.

[2022-09-14 04:34] ice1080 commented on #164
Hey @ddfridley I'm working on the create-candidate-recorders merging of undebatesFromTemplateAndRows result, but have an issue that is blocking me from being able to test it. This file assumes that the moderator is done recording, but I can't seem to finish recording for the moderator. When recording (in a different browser than the undebates creator), I am able to record all of the videos and sig

[2022-09-14 05:37] ice1080 commented on #164
I was able to make a bit more progress with some heavy db hacking. Through this work, I noticed what I believe is a defect in create-moderator-recorder:
[code]
The viewer and recorder url start with `http://localhost:3011/...` in mine, and HOSTNAME is equal only to `localhost:3011` so it can't find the iotas to merge. Within create-candidate-recorders.js I changed this to doing a replace like this

[2022-09-14 18:08] ddfridley commented on #164
@ice1080 I applaud your heavy debugging skills! I see the defect you are talking about.
On my machine HOST_NAME is "localhost:3011/"  but I see in the bashrcsetup file it puts the http:// in front.

We should deprecate the use of HOST_NAME in favor of HOSTNAME. In the undebate repo it is only used in tools and not in server code.

But for this issue, the real reason for that code is that we need t

[2022-09-14 18:14] ddfridley commented on #164
If you do make the change, move the two lines under the try block below them.  new URL can through an error if the url is not valid.

[2022-09-14 18:29] icdt-ihudson commented on #164
Ok we might need to look at the code because I've seen usages of both HOSTNAME and HOST_NAME which is part of why it's so confusing.
And ya I like your general solution, I'll push that change for both candidate and moderator recorders on my branch.

[2022-09-14 18:29] ice1080 commented on #164
Ok we might need to look at the code because I've seen usages of both HOSTNAME and HOST_NAME which is part of why it's so confusing.
And ya I like your general solution, I'll push that change for both candidate and moderator recorders on my branch.

[2022-09-14 18:39] ddfridley commented on #164
In app/lib/viewer-recorder-template.js I want to add:
``
const scheme = require('../lib/scheme')
const hostName = process.env.HOSTNAME ? scheme() + process.env.HOSTNAME : 'https://cc.enciv.org'
``
and delete the previous hostName assignment.

That's all the HOST_NAME in this repo.

[2022-09-14 18:52] ddfridley commented on #164
Here's a potential bug in my URL() idea. `new URL('http://localhost:3011/hanna/banana').pathname` is ''/hanna/banana'' asexpected,  but  `new URL('localhost:3011/hanna/banana').pathname` is '3011/hanna/banana'  which seems like bug in URL() to me.

But as long as we are careful to put the schema in front of HOSTNAME than we are okay.

[2022-09-14 19:28] ddfridley commented on #164
[code]
should be
[code]
in above. I've made this change in my repo.

[2022-09-14 19:37] ice1080 commented on #164
Just confirming, the viewer-recorder-template.js file above that you mentioned, that's where the email invites get created at?
That was one place I noticed both hostname and host_name getting used.

[2022-09-14 21:14] ddfridley commented on #164
viewer-recorder-template.js is the class  for creating the template that is passed to undebatesFromTemplateAndRows to create the  iotas that are the recorders for the candidates, and the viewer for the voter.  Each iota gets a unique URL which is what you are getting back in rowObj.viewer_url and rowObj.recorder_url.  The recorder URLs are sent in the email invites.

[2022-09-14 22:23] ice1080 commented on #164
Ok I'll test with these changes then and make sure that it fixes the urls in the email. I would imagine it has to since there seem to be no other references to host_name

[2022-09-15 04:40] ice1080 commented on #164
[PR created.](https://github.com/EnCiv/undebate-ssp/pull/192). As mentioned this only closes the last two tasks of this issue, not the whole issue. Let me know if you test this and it doesn't work, I wasn't able to locally get recording posts to work. Thanks!

[2022-09-16 23:48] ddfridley commented on #190
closed in #193

[2022-09-16 23:48] #190 closed

[2022-09-19 18:50] ddfridley opened #194 "undebate is live rework"
The Undebate is Live page currently looks like this:
![image](https://user-images.githubusercontent.com/3317487/191091420-25383fbb-79fd-4fe5-b4e2-5c76e4e67356.png)

But this doesn't allow the administrator to actually see the undebate.

The Recorder page looks like this, and shows an actual undebate.
![image](https://user-images.githubusercontent.com/3317487/191092957-19a8fad1-1697-4edd-9976-2eb93

[2022-09-20 03:22] ddfridley commented on #90
Unblocked because we really need to be able to sort by office

[2022-09-20 19:45] ddfridley opened #195 "Submission status incongruent"
In the nav panel, the submissions status is shown 0 0 0 1, but in the content panel its showing 0 2 1 3

![image](https://user-images.githubusercontent.com/3317487/191348622-0631e7f2-a5f7-4001-a79f-bfa9b3b3d3ab.png)

In the original idea of submissions there would be invitation accepted/declined and automatic reminders.  But we just haven't implented those yet.

- [ ] For now we should make the su

[2022-09-20 22:23] ddfridley opened #196 "UndebateList candidate status inaccurate"
![image](https://user-images.githubusercontent.com/3317487/191374532-ab24cde9-0be6-45d9-a13a-e5b9b649e1a3.png)

I created an election, filled out all the information, did the moderator, made one candidate (myself), and then submitted that.

The Candidate status on the UndebateList should be  Complete - but instead it says All 1 candidates missed deadline.

[2022-09-21 02:44] nicholas-terry commented on #163
@ddfridley Break this up into multiple issues in order to close this one.

[2022-09-21 02:46] nicholas-terry commented on #164
@ddfridley Please break the remaining tasks into separate issues so we can close the user visible tasks.

[2022-09-21 02:48] #171 closed

[2022-09-21 03:06] nicholas-terry commented on #155
@ddfridley Take last task and create separate issue. Once completed, this issue will be closed.

[2022-09-21 23:32] mattwinne commented on #191
I got the repo and db up and running. I'll begin working on this issue.

[2022-09-22 01:37] ice1080 commented on #195
@ddfridley will this change also affect the candidate status table in the undebates list component?
![image](https://user-images.githubusercontent.com/25037168/191639270-6052765e-e5b5-4d4f-9e43-0333067b8925.png)

[2022-09-22 02:29] ddfridley commented on #195
Good point. Yes. It makes sense to be consistent.

[2022-09-22 04:48] ddfridley commented on #191
Well it's great progress that you've got things working and that you've made your first PR so quickly, but I don't see a spinner.  I'm not sure where you put the sleep when you were testing. but I created a new test in stories/moderator-recorder.stories.js called ReadyLongDelIay and I added a hack to .storybook/preview.js so that tests can set _serverResponseDelay.

If you did git push -u when you

[2022-09-22 04:53] ddfridley commented on #191
To test it with the dev server, on the browser side you can open the developer console and select the "Network" tab and then where it says "No throttling" you can pick slow 3G or maybe make a custom one that's even slower.  But you won't want to throttle until after the app is loaded.

[2022-09-22 17:16] mrvicthor commented on #196
Hi @ddfridley i will love to look into this issue.

[2022-09-23 01:13] mattwinne commented on #191
Appreciate the helpful feedback and tips. FYI, I simulated the delay within the component like this:
`const delay = delayInms => {
    return new Promise(resolve => setTimeout(resolve, delayInms))
}

const handleOnClick = async () => {
    setAwaitingResponse(true)
    if (!disabled && !disabledAfterClick) {
        let delayres = await delay(1000)
        await onDone({ valid: true })
    }
    i

[2022-09-24 19:30] mattwinne commented on #191
@ddfridley See new commit. Was able to get the spinner to render on the tests you put together and with throttling. This approach retains the buttons and shows the spinner below. What do you think? Should I take the same approach for sendCandidateInvitations in the CandidateTable component?

[2022-09-24 20:58] #191 closed

[2022-09-24 21:05] ddfridley commented on #196
@mrvicthor That's great.  Sorry I didn't see this message earlier.

[2022-09-24 21:08] ddfridley commented on #196
Let me know if you me too walk through the code sometime.

[2022-09-24 21:39] mrvicthor commented on #196
Hi David,
Hope this meets you well.
I was wondering if we could have a meeting to discuss about the project.

Kind regards,
Victor

On Sat, 24 Sep 2022 at 22:08, David ***@***.***> wrote:

[2022-09-24 23:42] #158 closed

[2022-09-25 00:52] ice1080 commented on #195
Just about have this one done, just have the purple checkbox left.

[2022-09-25 21:43] ddfridley opened #200 "Unbebate List Not Updating"
When a new election is create, or when an election is modified, upon return to the UndebateList the new election is not present, or the election status info is not up to date.

If you refresh things are up to date.

Files app/components/undebate-homepage.js and app/components/subscribe-election-info are the places to start.

- [x] New election should show up in the list after create new, and then

[2022-09-25 21:48] ddfridley opened #201 "SignIn error with updateOne"
Another defect noticed when trying to post moderator (this time I do have cloudinary setup):
[1] [2022-09-24T18:50:04.068] [ERROR] node - sign_in trying to update user info failed TypeError: Update document requires atomic operators
[1]     at new UpdateOneOperation (/home/ihudson/src/undebate-ssp/node_modules/mongodb/lib/operations/update_one.js:14:13)
[1]     at Collection.updateOne (/home/ihuds

[2022-09-26 02:40] ice1080 commented on #201
This issue was only seen once on 24-Sep-2022 and when the app was run again with a reset db on 25-Sep-2022 it did not occur again.

[2022-09-26 04:30] ddfridley opened #204 "Combine the candidates table page and the submissions page"
![image](https://user-images.githubusercontent.com/3317487/192192287-fbe5ff5f-1f7c-4089-912c-926d45153e61.png)
![image](https://user-images.githubusercontent.com/3317487/192193433-63315715-7d94-4263-87ba-fc9f0c718c80.png)

Into the submissions page (app/components/submisions.js), incorporate the

- [ ] Upload CSV File
- [ ] Paste Google Sheets Link
- [ ] Edit Manually functionality
- [ ] Send Invi

[2022-09-27 03:59] ice1080 commented on #92
Hey @ddfridley do you want the cells to have a minimum width of what they currently are?

[2022-09-27 04:06] ddfridley commented on #92
Up to you. We will run into situations where the view port is  smaller, and at some point the table may need to be wider than the viewport.

[2022-09-27 04:19] ice1080 commented on #92
I set the minWidth of the input to 10rem for now, feel free to update it to whatever. This seemed to only be needed for candidate-table-input.js, as submissions.js was already auto sizing.

[2022-09-27 04:24] ddfridley opened #206 "Script added to email to moderator"
The script needs to be added to the email that is sent to the moderator.

app/socket-apis/send-moderator-invite.js is where the params are gathered and passed to the transactional email system
assets/email-templates/moderator-invitation.html is the template used for candidate invites.
the format of the script part of the electionObj is in https://github.com/EnCiv/undebate-ssp/wiki/electionObj-data

[2022-09-27 04:30] ice1080 commented on #185
@ddfridley do we have a default logo file already somewhere?

[2022-09-27 05:49] #92 closed

[2022-09-27 20:35] #206 closed

[2022-09-27 22:42] ddfridley commented on #185
done in #208

[2022-09-27 22:42] #185 closed

[2022-09-27 22:45] ddfridley commented on #164
The remaining tasks here are not seen by the uses so I am removing the V1Req tab

[2022-09-27 22:49] ddfridley commented on #204
Blocked - need more research on if this is the best solution to the problem.

[2022-09-27 23:00] ddfridley opened #209 "Moderator recording iFrame does not change if recorder updated"
The moderator recorder page's iframe does not update if you change a question and then regenerate the recorder.
If you refresh the page it does update.

I presume the problem is that while the react component rerenders on the change, the iframe does not because the nothing in it's parameters changes - the url of the recorder didn't change.  We may need to add a counter or something to cause the if

[2022-09-28 02:33] ddfridley commented on #164
npm run test app/socket_apis/__test__/create-create-candidate-recorders.js

[2022-09-28 03:04] ddfridley opened #210 "Iotas updated for object of objetct"

[2022-09-28 04:09] ddfridley opened #212 "Upload a logo"
In app/components/election-component.js - there is an option to provide a organizationUrl.
We need to provide an an option for the user to upload a url image and save that to cloudinary and then use that url.
The user should still be able to enter the url directly.

It might be good to find a package on npm - make sure it's MIT licensed and has a good number of weekly downloads.

[2022-09-28 04:14] ddfridley opened #213 "Calendar pop-up"
![image](https://user-images.githubusercontent.com/3317487/192685959-19447553-92f2-443a-835d-f55660a37101.png)

- [ ] There is a problem with the opacity of the calendar.  The background of the calendar should be opaque and you shouldn't be able to see text through it.
- [ ] Make the calendar go away after someone selects a date.

see app/components/election-date-input.js

This may (or may not) be

[2022-09-28 04:22] ddfridley opened #214 "Tab After Last Question should go to done button"
If you go to the questions tab of a new election and add the first question, then enter text, then tab, then enter the seconds, then tab the next stop for the tab is the EnCiv link at the bottom.  But it should be the Done button.

If you go back and click in the question, and then hit tab, tab, tab - then it will go to the Done button.

[2022-09-28 04:28] ddfridley opened #215 "Shouldn't have to click out to click done"
IF you go to the configure election page, or the questions page, and enter data, after you enter data in the last field, you can't click on the Done button until you click outside of the input field to cause an unblur.

People are asking that the done button be active  before you leave the input field - meaning update the done button status onChange rather than onBlur

But this might effect the da

[2022-09-28 04:41] ddfridley opened #216 "Prepopulate Questions"
Pre populate the questions with the following:

"Please say your name; city and state; one word to describe yourself; and what office you are running for." - 15 seconds
"What do you love most about where you live?" - 30 seconds
"What inspired you to run for office?" - 30 seconds
"If elected, what will be your top two priorities?" - 60 seconds
"If elected, how will you know that you've succeeded in

[2022-09-28 05:00] ddfridley opened #217 "Force unlock"
in app/components/done-locked-button.js

If the user hovers over the button for 10 seconds, provide a popup that says 'Do you really want to unlock this?" and if the click on it, then unlock - (by doing what the edit function does).

[2022-09-28 21:13] #195 closed

[2022-09-28 22:41] ddfridley opened #219 "Panel Status Needs to reflect Needs Review"
![image](https://user-images.githubusercontent.com/3317487/192901194-77bc1e4b-1d47-427b-a8b6-2906f6befa04.png)

[2022-09-28 22:51] ddfridley commented on #209
closed in #220

[2022-09-28 22:51] #209 closed

[2022-09-28 22:53] ddfridley commented on #200
closed in #218

[2022-09-28 22:53] #200 closed

[2022-09-30 22:25] ddfridley opened #221 "An occasional problem with tooltips in invite meter"
![image](https://user-images.githubusercontent.com/3317487/193364207-9155f505-b5cc-4707-801c-c9dd6e803310.png)

IF you switch between the story Undebates List - All Moderator Options and All Candidates Options sometimes the above will occur.

[2022-10-01 02:35] ddfridley commented on #221
Happened on the dev server too, after going down into elections and back up to the list, several times.
![image](https://user-images.githubusercontent.com/3317487/193379754-6a06b1f7-f7bd-4248-ae2f-f10fcb7fa280.png)

[2022-10-01 02:58] #90 closed

[2022-10-01 03:00] ddfridley commented on #215
I suspect it may not be going to done after tabbing out of the last field because the button is inActive at the moment you tab out, and it doesn't become active until the onBlur is handled and the component rerenders.

[2022-10-01 03:02] ddfridley commented on #210
Done in #222

[2022-10-01 03:02] #210 closed

[2022-10-02 21:17] mattwinne commented on #212
@ddfridley Implemented by uploading the image in the browser, sending to server via websocket (non-stream), and uploading to cloudinary from server. I also looked into ways it could be uploaded entirely from the browser.

One method is with the cloudinary widget. This only requires sharing the cloud name with the browser (not the api key or api secret). That doesn't seem like too much of a securit

[2022-10-03 02:58] ice1080 commented on #154
@ddfridley is the original synaccord repo you mentioned a public repo? I did some searching and couldn't find it. The send-email file is missing from the above example.
I'll eventually work on switching the above to SendInBlue, just figured I'd ask if you have it handy.

[2022-10-03 03:18] ice1080 commented on #154
Also, I noticed that join.jsx in civil-client is currently unused. From what I can tell, I have to update loginForm.jsx in that project to add the resetPassword flow, would you like me to delete the unused Join file?

[2022-10-04 05:36] ice1080 commented on #154
@ddfridley you mentioned using send-in-blue on civil-server. I noticed that there is currently neither send-in-blue nor nodemailer are setup in civil-server; just confirming that we do for sure want to add send-in-blue to this?

[2022-10-05 03:40] ddfridley opened #225 "Election Names Should Be Unique"
When the election admin enters an election name, check it against all the other election names in the DB for that user, and make sure it is unique.  It it's not unique, then make the field error pink, and show a message below saying this election name is already used.

[2022-10-11 03:48] ice1080 commented on #154
For historical tracking, I am copying the candidate-invitation template for the reset password template.
I am removing the unsubscribe section of the email since that's obviously not applicable here.

[2022-10-11 05:02] ice1080 commented on #154
Hey @ddfridley, you mentioned a cypress test for this one in the description. I added a cypress test that creates a user, logs in as the user, and then sends the reset password email. I'm not sure it's possible to actually intercept the email request from the backend to send-in-blue (cypress only lets you intercept frontend to backend calls as far as I know).
If there is some way to seed the db wi

[2022-10-11 06:34] ddfridley commented on #154
I have no way to preppopulate users for cypress. A script sounds fine.

⁣Get BlueMail for Android ​

On Oct 11, 2022, 8:02 AM, at 8:02 AM, ice1080 ***@***.***> wrote:

[2022-10-11 07:52] ddfridley commented on #154
For testing emails sendinblue has this that might be useful: https://github.com/sendinblue/APIv3-nodejs-library/blob/master/docs/InboundParsingApi.md#getInboundEmailEvents

I've never used it.

⁣Get BlueMail for Android ​

On Oct 11, 2022, 8:02 AM, at 8:02 AM, ice1080 ***@***.***> wrote:

[2022-10-13 01:55] ice1080 commented on #154
Just about have this issue complete. I see it working when running civil-server on its own, and just saw it working inside undebate-ssp too. Remaining work:
- update undebate-ssp to correctly handle the response from the reset-password socket
- create custom reset password page for undebate-ssp to match undebate-ssp signup/login popup
- stretch goal - rewrite authForm.jsx in civil-client to use th

[2022-10-13 06:16] ddfridley commented on #154
Sorry. My mind is on vacation and only working in the background. About testing for this. I just realized that I had removed cypress because it was causing trouble when pushing undebate-ssp to heroku. Probably also causing problems for others building the repo too.

Did you install cypress?

I have two thoughts. One is to abandon cypress. We are doing a lot more with jest than I had previously tho

[2022-10-13 14:03] ice1080 commented on #154
Cypress is currently in the optional dependencies of civil-server and there is already an existing test in there. I was able to write some pretty good cypress tests for this flow in that repo so I was planning on leaving it at that.
When you mention testDependencies, isn't that pretty much what the devDependencies are for? They don't get distributed with the prod build.

[2022-10-13 17:50] ddfridley commented on #154
Ok. My memory is faulty. I'm glad you didn't have to do a lot extra for cypress.

When you npm install a package like civil-server it's devDependencies are installed and built before building the package itself. But test dependences like cypress, jest, and storybook are not needed to build civil-server when it is installed in undebate-ssp.

See the bottom of:

https://github.com/npm/cli/issues/390

[2022-10-13 18:56] ice1080 commented on #154
Ah ya that makes sense. Fyi though, most contributors of projects don't look at closed issues, so your comment will most likely stay ignored. I'd recommend opening a new issue and explaining why it's different than the other issue, or why it's not solved by the closing of the other issue.

[2022-10-19 17:38] ddfridley opened #227 "Election Page Title does not update"
The election page title (No Label at the top) does not update right after you enter the Election Name in the form.
It does update after you refresh the page, but it would be better if it updated immediately.

![image](https://user-images.githubusercontent.com/3317487/196763531-3d424a4e-7aa3-4e87-95cf-4f282fd6d9c4.png)

the place to start is app/components/undebate-homepage.js

Something needs to c

[2022-10-19 17:51] #212 closed

[2022-10-19 23:59] ice1080 commented on #154
Just got back from vacation so trying to get this one finished up.
Our jest tests don't currently test any frontend interactions and it would take quite a bit to get to that point.
As mentioned before, cypress is currently already installed in civil-server so I was using that to test many of these interactions. Is that alright to leave in there?
If we added cypress to undebate-ssp in the dev depen

[2022-10-20 00:40] ice1080 commented on #154
Another thing I just noticed was this error message code in civil-server:
[code]
The error message says to try again after 24 hours, but it really only checks that you don't try 3 times in a row within 60 seconds. Should I update the message or was this intentional? I waited 60 seconds instead of 24 hours and was able to sign in again.

[2022-10-20 00:57] ddfridley commented on #154
What if we do something based on NODE_ENV being development or production. For production it should be 24 hours.  for development it should be 60 seconds.

[2022-10-20 04:44] ice1080 commented on #154
@ddfridley Phew this one was a doozy. Here are all three pull requests for this issue:
- civil-client: https://github.com/EnCiv/civil-client/pull/8
- civil-server: https://github.com/EnCiv/civil-server/pull/33
- undebate-ssp: https://github.com/EnCiv/undebate-ssp/pull/228

On civil-server you can run `npm run test` to see the jest tests passing, and you can run the dev server and run `npm run cypr

[2022-10-24 21:47] #154 closed

[2022-10-24 23:13] #213 closed

[2022-10-26 03:20] ddfridley commented on #217
app/components/done-locked-button.js
stories/done-locked-button.stories.js

[2022-11-01 20:28] #216 closed

[2022-11-16 03:44] ddfridley commented on #214
see app/components/timeline.js for a particular example of where we are having the problem.